<section id="checklist-nature" class="popup popup__checklists">
  <div class="popup__container popup__container_violet">
    <button class="popup__close-button popup__close-button_violet"></button>
    <div class="popup__content">
      <div class="popup__main-title">
        <div class="popup__place">
          <h3>Природа</h3>
        </div>
        <p>
          Чек-лист <br />
          для зимы на природе
        </p>
      </div>
      <div class="popup__images popup__images_violet">
        <img src="./images/idea/cream-nature.jpg" alt="" />
        <img src="./images/idea/forest.jpg" alt="" />
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <div class="popup__subtitle">Рекомендуем не забыть</div>
        <ul>
          <li class="popup__text popup__text_violet">Термобельё</li>
          <li class="popup__text popup__text_violet">Флисовая кофта</li>
          <li class="popup__text popup__text_violet">Сидушка туристическая</li>
          <li class="popup__text popup__text_violet">Грелки для рук и ног</li>
          <li class="popup__text popup__text_violet">Спички или зажигалка</li>
          <li class="popup__text popup__text_violet">
            Скачанные карты местности
          </li>
          <li class="popup__text popup__text_violet">
            Портативная зарядка для телефона
          </li>
          <li class="popup__text popup__text_violet">Налобный фонарик</li>
          <li class="popup__text popup__text_violet">Термос с тёплым чаем</li>
          <li class="popup__text popup__text_violet">
            Орехи или энергетические батончики на перекус
          </li>
        </ul>
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <div class="popup__subtitle">Аптечка</div>
        <ul>
          <li class="popup__text popup__text_violet">Адсорбент</li>
          <li class="popup__text popup__text_violet">Местные антисептики</li>
          <li class="popup__text popup__text_violet">Пластырь</li>
          <li class="popup__text popup__text_violet">Жаропонижающее</li>
          <li class="popup__text popup__text_violet">Эластичный бинт</li>
        </ul>
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <div class="popup__subtitle">Косметичка</div>
        <ul>
          <li class="popup__description">
            Ветер, низкие температуры, трение об&nbsp;одежду и&nbsp;комбинация
            пота и&nbsp;пыли&nbsp;&mdash; даже в&nbsp;привычном климате коже
            приходится терпеть перегрузки. Чтобы компенсировать
            их&nbsp;последствия, важно позаботиться о&nbsp;коже во&nbsp;время
            прогулки на&nbsp;природе и&nbsp;после неё:
          </li>
          <li class="popup__text popup__text_violet">
            Крем для лица с&nbsp;spf не&nbsp;ниже 15&nbsp;обеспечивает
            интенсивный уход за&nbsp;кожей и&nbsp;защиту
            от&nbsp;ультрафиолетовых лучей: например,
            <a href="#">продукты линейки SPF EXPERT*</a> от&nbsp;&laquo;Черного
            Жемчуга&raquo;.
          </li>
          <li class="popup__text popup__text_violet">
            Плотный бальзам для губ с жирной текстурой для защиты от холода и
            ветра
          </li>
          <li class="popup__text popup__text_violet">
            Крем для рук с плотной текстурой
          </li>
        </ul>
      </div>
      <div class="popup__photos">
        <img src="./images/idea/forest-arh.jpg" alt="" />
        <img src="./images/idea/skin.jpg" alt="" />
        <img src="./images/idea/cream-bali.jpg" alt="" />
      </div>
      <a
        class="popup__button"
        href="https://www.ozon.ru/highlight/uhod-za-litsom-chernyy-zhemchug-1124960/?utm_source=YandexTravel_initiative&utm_medium=Display&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_term=1_KartochkiIdej_W.14-80_Socdem_2pd_AW_KnopkaPodrobneeChekListSovety&utm_content=LandingHtmlPage"
        target="_blank"
        >Подробнее</a
      >
    </div>
  </div>
</section>
