<section id="checklist-city" class="popup popup__checklists">
  <div class="popup__container popup__container_violet">
    <button class="popup__close-button popup__close-button_violet"></button>
    <div class="popup__content">
      <div class="popup__main-title">
        <div class="popup__place">
          <h3>Советы</h3>
        </div>
        <p>Чек-лист советы по уходу за кожей зимой</p>
      </div>
      <div class="popup__images popup__images_violet">
        <img src="./images/idea/skin2.jpg" alt="" />
        <img src="./images/idea/woman-elb.jpg" alt="" />
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <p class="popup__description">
          Зима для кожи&nbsp;&mdash; настоящее испытание. Тут и&nbsp;постоянные
          перепады температур, и&nbsp;сухость воздуха, и&nbsp;проблемы
          с&nbsp;обветриванием и&nbsp;недостатком витаминов. И&nbsp;чтобы кожа
          оставалась сияющей, важно правильно ухаживать за&nbsp;ней, сохраняя
          баланс бережного очищения и&nbsp;обновления:
        </p>
        <ul>
          <li class="popup__text popup__text_violet">
            Мягкое средство кремовой текстуры для ежедневного умывания
          </li>
          <li class="popup__text popup__text_violet">
            Гидрофильное масло для бережного снятия макияжа
          </li>
          <li class="popup__text popup__text_violet">
            Двухфазное средство для снятия макияжа с глаз и губ без лишнего
            трения
          </li>
          <li class="popup__text popup__text_violet">
            Тоник для чувствительной кожи лица для снятия остатков очищающего
            средства без лишнего раздражения
          </li>
          <li class="popup__text popup__text_violet">
            Обновляющая
            <a href="#">пилинг-маска для лица PEELING EXPERT*</a> «Черного
            Жемчуга» — мягко и бережно очищает и обновляет кожу, сокращает
            видимую пигментацию, выравнивает тон и рельеф кожи
          </li>
        </ul>
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <p class="popup__description">
          После бережного очищения кожи лица важно уделить внимание интенсивному
          увлажнению и&nbsp;питанию:
        </p>
        <ul>
          <li class="popup__text popup__text_violet">
            Увлажняющий мист для лица с витаминами
          </li>
          <li class="popup__text popup__text_violet">
            <a href="#"
              >Сыворотка-бустер с&nbsp;коллагеном и&nbsp;с&nbsp;SPF 20</a
            >&nbsp;от&nbsp;&laquo; Черного Жемчуга&raquo;&nbsp;&mdash;
            стимулирует синтез коллагеновых волокон,защищает
            от&nbsp;фотостарения, интенсивно увлажняет кожу, делает
            её&nbsp;мягкой и&nbsp;эластичной
          </li>
          <li class="popup__text popup__text_violet">
            <a href="#">Крем-скульптор LiftACTIVATOR**</a>
            от&nbsp;&laquo;Черного Жемчуга&raquo;&nbsp;&mdash; активно увлажняет
            и&nbsp;питает кожу, укрепляет контур лица, воссоздает четкий овал
            лица и&nbsp;шеи¹
          </li>
          <li class="popup__text popup__text_violet">
            Крем для зоны вокруг глаз
          </li>
          <li class="popup__text popup__text_violet">
            Тканевые, гелевые или гиалуроновые патчи
          </li>
        </ul>
      </div>
      <div class="popup__photos">
        <img src="./images/idea/sea-sh.jpg" alt="" />
        <img src="./images/idea/cream-sh.jpg" alt="" />
        <img src="./images/idea/boats-sh.jpg" alt="" />
      </div>
      <a
        class="popup__button"
        href="https://www.ozon.ru/highlight/uhod-za-litsom-chernyy-zhemchug-1124960/?utm_source=YandexTravel_initiative&utm_medium=Display&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_term=1_KartochkiIdej_W.14-80_Socdem_2pd_AW_KnopkaPodrobneeChekListSovety&utm_content=LandingHtmlPage"
        target="_blank"
        >Подробнее</a
      >
    </div>
  </div>
</section>
