<div id="busters" class="products__product">
  <div class="products__products-info">
    <p class="products__product-info products__product-info_left">Линейка</p>
    <p class="products__product-info products__product-info_right"></p>
    <h2 class="products__product-info products__product-info_title">
      Сыворотки-бустеры
    </h2>
  </div>
  <p class="products__product-description">
    Обеспечить быстрое интенсивное увлажнение коже лица помогут увлажняющая
    сыворотка с&nbsp;гиалуроном и&nbsp;восстанавливающая сыворотка
    с&nbsp;коллагеном от&nbsp;&laquo;Черного Жемчуга&raquo;
  </p>
  <ul class="products__product-options">
    <div class="products__product-option">
      <h3>Увлажняет кожу</h3>
      <p>Возвращает бархатистость и сияние</p>
    </div>
    <div class="products__product-option">
      <h3>Возвращает эластичность</h3>
      <p>Активые формулы с гиалуроном и коллагеном</p>
    </div>
    <div class="products__product-option">
      <h3>Сокращает морщины</h3>
      <p>Обеспечивает здоровый тонус и упругость</p>
    </div>
  </ul>
  <h3 class="products__programs-title">Программы ухода</h3>
  <div class="products__programs products__programs_two">
    <div class="programs__item">
      <a
        target="_blank"
        class="programs__item-photo"
        href="https://www.ozon.ru/product/syvorotka-buster-dlya-litsa-chernyy-zhemchug-uvlazhnyayushchaya-s-gialuronovoy-kislotoy-vitaminami-a-834545424/?_bctx=CAYQ4NRE&advert=Inw_kGzeyL8b84trD72-d0pDCeEHfQ_Uy0NTEIypsLDFjH6rjfZdIIOJDmy688TvxyYpurRJXgbhI-ZUnFcKaZsLz6m2Iq-DLhxmm0bOAkv3Kpuv9qtY2QOrG6l7jInd4z1E3VP_ALVEymCOWbB2om_pdah4dfgKuKb4oQWEVqgRCUnNFKtvCyPVEWaFh5DjtvMLlvii0XQcVVDtCri8EBvl0VLJYiZaP_jvCK4FKkZTnQ0K0IWVa3JaNka6Tw&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokSyvorotki_W.14-80_Socdem_2pd_AW_SyvorotkaSGialuronom"
      >
        <img src="images/products/4-1.jpg" alt="" />
      </a>
      <h4>СЫВОРОТКА-БУСТЕР ДЛЯ ЛИЦА УВЛАЖНЯЮЩАЯ</h4>
      <p class="products__description">Сокращает морщины, разглаживает кожу</p>
      <a
        target="_blank"
        class="products__btn products__btn_white"
        href="https://www.ozon.ru/product/syvorotka-buster-dlya-litsa-chernyy-zhemchug-uvlazhnyayushchaya-s-gialuronovoy-kislotoy-vitaminami-a-834545424/?_bctx=CAYQ4NRE&advert=Inw_kGzeyL8b84trD72-d0pDCeEHfQ_Uy0NTEIypsLDFjH6rjfZdIIOJDmy688TvxyYpurRJXgbhI-ZUnFcKaZsLz6m2Iq-DLhxmm0bOAkv3Kpuv9qtY2QOrG6l7jInd4z1E3VP_ALVEymCOWbB2om_pdah4dfgKuKb4oQWEVqgRCUnNFKtvCyPVEWaFh5DjtvMLlvii0XQcVVDtCri8EBvl0VLJYiZaP_jvCK4FKkZTnQ0K0IWVa3JaNka6Tw&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokSyvorotki_W.14-80_Socdem_2pd_AW_SyvorotkaSGialuronom"
      >
        Подробнее
      </a>
    </div>
    <div class="programs__item">
      <a
        target="_blank"
        class="programs__item-photo"
        href="https://www.ozon.ru/product/syvorotka-buster-dlya-litsa-chernyy-zhemchug-vosstanavlivayushchaya-uprugost-s-kollagenom-spf-20-834545433/?_bctx=CAYQ4NRE&asb=4r8XRMEBsGuT0%252FW1MWEdiaNsma9ckBvrdH%252FNxuTyFenuSW1VGxaX2vCdihCVwBV7&asb2=nsi4SGVEJUucKuVgQX_Aa8fo7t2n4UZEzI82wDu6ePHopsIGeX3kVVPzLjjydXIWHOlzmr7xzX7zIS6BQeW8nG92MsF0hfd0QD1dmcRUK051oJpa9ouXgP3yngYk05lnyuvl_oS0sBunBG8bA6Xi8Fos0qTZpGl3HDTa67xhrRo&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokSyvorotki_W.14-80_Socdem_2pd_AW_SyvorotkaSKollagenom"
      >
        <img src="images/products/4-2.jpg" alt="" />
      </a>
      <h4>СЫВОРОТКА-БУСТЕР ДЛЯ ЛИЦА ВОССТАНАВЛИВАЮЩАЯ</h4>
      <p class="products__description">
        Упругость и защита от фотостарения c SPF 20
      </p>
      <a
        target="_blank"
        class="products__btn products__btn_white"
        href="https://www.ozon.ru/product/syvorotka-buster-dlya-litsa-chernyy-zhemchug-vosstanavlivayushchaya-uprugost-s-kollagenom-spf-20-834545433/?_bctx=CAYQ4NRE&asb=4r8XRMEBsGuT0%252FW1MWEdiaNsma9ckBvrdH%252FNxuTyFenuSW1VGxaX2vCdihCVwBV7&asb2=nsi4SGVEJUucKuVgQX_Aa8fo7t2n4UZEzI82wDu6ePHopsIGeX3kVVPzLjjydXIWHOlzmr7xzX7zIS6BQeW8nG92MsF0hfd0QD1dmcRUK051oJpa9ouXgP3yngYk05lnyuvl_oS0sBunBG8bA6Xi8Fos0qTZpGl3HDTa67xhrRo&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokSyvorotki_W.14-80_Socdem_2pd_AW_SyvorotkaSKollagenom"
      >
        Подробнее
      </a>
    </div>
  </div>
</div>
