<div id="liftactivator" class="products__product products__product_active">
  <div class="products__products-info">
    <p class="products__product-info products__product-info_left">Линейка</p>
    <p class="products__product-info products__product-info_right">
      [ЛифтАКТИВАТОР]
    </p>
    <h2 class="products__product-info products__product-info_title">
      LIFT<br />ACTIVATOR
    </h2>
  </div>
  <p class="products__product-description">
    Очищающий гель-пилинг, обновляющая сплэш-маска, а&nbsp;также полный комплект
    кремов&nbsp;обеспечат&nbsp;лифтинг-эффект&nbsp;и&nbsp;воссоздадут чёткий
    контур овала&nbsp;лица&nbsp;и&nbsp;шеи&sup1;
  </p>
  <ul class="products__product-options">
    <div class="products__product-option">
      <h3>Сокращает морщины</h3>
      <p>Профилактика возрастных изменений</p>
    </div>
    <div class="products__product-option">
      <h3>Лифтинг-эффект</h3>
      <p>Увлажняет, питает и смягчает</p>
    </div>
    <div class="products__product-option">
      <h3>Повышает плотность кожи</h3>
      <p>Способствует выработке коллагена</p>
    </div>
  </ul>
  <h3 class="products__programs-title">Программы ухода</h3>

  <div class="swiper2 swiper products__programs swiper_padding">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="programs__item">
          <a
            target="_blank"
            class="programs__item-photo"
            href="https://www.ozon.ru/product/krem-dlya-litsa-i-shei-chernyy-zhemchug-liftactivator-lifting-effekt-i-konturing-s-kollagenom-50-ml-308224258/?_bctx=CAYQ4NRE&asb=lQsr%252F7l7IfvSt6KoPDm5f0rIhRtyHU0yNorlouXy2v%252B2TYjSq%252BBAHry2z6SWaORp&asb2=BNPISg7EZe1wjStXexCxwS-QRYReteGquRQYJQ8M6snJab2PUVYd-b5jSnqb_qmFSfC_2z66GD_vX1K8GKw6wXqPPT8zI8bTq1l2DX7O6yy_dR2EEvyMVguvmlvau0ju0X4q1iXSMXskATF0R49v_19WPaluORqNcraCV7QE0AA&avtc=1&avte=4&avts=17012584133%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokLiftActivator_W.14-80_Socdem_2pd_AW_KremSkulptorDlyaLicaIShei"
          >
            <img src="images/products/1-1.jpg" alt="" />
          </a>
          <h4>КРЕМ-СКУЛЬПТОР ДЛЯ ЛИЦА И ШЕИ LIFTACTIVATOR С ПЕПТИДАМИ</h4>
          <p class="products__description">
            Лифтинг-эффект и контуринг
            овала&nbsp;лица&nbsp;и&nbsp;шеи,&nbsp;50&nbsp;мл
          </p>
          <a
            target="_blank"
            class="products__btn"
            href="https://www.ozon.ru/product/krem-dlya-litsa-i-shei-chernyy-zhemchug-liftactivator-lifting-effekt-i-konturing-s-kollagenom-50-ml-308224258/?_bctx=CAYQ4NRE&asb=lQsr%252F7l7IfvSt6KoPDm5f0rIhRtyHU0yNorlouXy2v%252B2TYjSq%252BBAHry2z6SWaORp&asb2=BNPISg7EZe1wjStXexCxwS-QRYReteGquRQYJQ8M6snJab2PUVYd-b5jSnqb_qmFSfC_2z66GD_vX1K8GKw6wXqPPT8zI8bTq1l2DX7O6yy_dR2EEvyMVguvmlvau0ju0X4q1iXSMXskATF0R49v_19WPaluORqNcraCV7QE0AA&avtc=1&avte=4&avts=17012584133%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokLiftActivator_W.14-80_Socdem_2pd_AW_KremSkulptorDlyaLicaIShei"
          >
            Подробнее
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="programs__item">
          <a
            target="_blank"
            href="https://www.ozon.ru/product/chernyy-zhemchug-krem-ekspert-vokrug-glaz-liftactivator-46-let-lifting-effekt-dlya-kozhi-vek-15-ml-30978026/?_bctx=CAYQ4NRE&asb=LKzmy4r7MoBe0Jh%252Fx1H3HdM9Rpyfo2fzx7LpOljX89JTbLWOAjHd0P%252BdorhqnljT&asb2=7YwtncilCj66DGrjwusUwoJbj1sqw7EskYR_uCG4DUrzSCzjdB8LN3nCcyUJCYLzIlqFW5CvbLlMm8Vxvsf2XOAm_zkgeV5BPaCFZ7ubL0cT3PBblyjxoJzD1IYbAWN96Mg1ctmh60_g3cvyWC6a852vdV6Hs1LO2kdwmrqNVeM&avtc=1&avte=4&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokLiftActivator_W.14-80_Socdem_2pd_AW_KremVokurgGlaz"
            class="programs__item-photo"
          >
            <img src="images/products/1-6.jpg" alt="" />
          </a>
          <h4>КРЕМ-ЭКСПЕРТ ДЛЯ КОЖИ <br />ВОКРУГ ГЛАЗ</h4>
          <p class="products__description">
            Уменьшение припухлости и тёмных кругов, 15 мл
          </p>
          <a
            target="_blank"
            href="https://www.ozon.ru/product/chernyy-zhemchug-krem-ekspert-vokrug-glaz-liftactivator-46-let-lifting-effekt-dlya-kozhi-vek-15-ml-30978026/?_bctx=CAYQ4NRE&asb=LKzmy4r7MoBe0Jh%252Fx1H3HdM9Rpyfo2fzx7LpOljX89JTbLWOAjHd0P%252BdorhqnljT&asb2=7YwtncilCj66DGrjwusUwoJbj1sqw7EskYR_uCG4DUrzSCzjdB8LN3nCcyUJCYLzIlqFW5CvbLlMm8Vxvsf2XOAm_zkgeV5BPaCFZ7ubL0cT3PBblyjxoJzD1IYbAWN96Mg1ctmh60_g3cvyWC6a852vdV6Hs1LO2kdwmrqNVeM&avtc=1&avte=4&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokLiftActivator_W.14-80_Socdem_2pd_AW_KremVokurgGlaz"
            class="products__btn"
          >
            Подробнее
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="programs__item">
          <a
            target="_blank"
            href="https://www.ozon.ru/product/chernyy-zhemchug-dnevnoy-krem-filler-dlya-litsa-liftactivator-vyravnivaet-relef-kozhi-s-308224259/?_bctx=CAYQ4NRE&advert=9LFKsyAOlhcE8Tro1-oTvz_clLHiU45WcpO_-6VI8ny8jBI6S-JfygOtLxWyfvjK7WSkM_J7m4rLonb0UDtjJKLaTXRWwYs2dBhbLwLVtlR7dF6Xf4ibMg88UuwR_q8em7YyKysMqW0ViC7AJjEhk7DTGpJz72tSf9Ht00Pi7IuYCSaOKA1_eyCTQe-CY_9i89p1ea7DtCg7UgE4B3fWegbOiqSKqGCxHUcr3JRlgdXbnpVupsqPv__z3AaJdk8&avtc=1&avte=4&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokLiftActivator_W.14-80_Socdem_2pd_AW_DnevnojKremFiller"
            class="programs__item-photo"
          >
            <img src="images/products/1-2.jpg" alt="" />
          </a>
          <h4>ДНЕВНОЙ КРЕМ-ФИЛЛЕР ДЛЯ ЛИЦА С ГИАЛУРОНОВОЙ КИСЛОТОЙ</h4>
          <p class="products__description">
            Сокращает морщины, выравнивает рельеф
          </p>
          <a
            target="_blank"
            href="https://www.ozon.ru/product/chernyy-zhemchug-dnevnoy-krem-filler-dlya-litsa-liftactivator-vyravnivaet-relef-kozhi-s-308224259/?_bctx=CAYQ4NRE&advert=9LFKsyAOlhcE8Tro1-oTvz_clLHiU45WcpO_-6VI8ny8jBI6S-JfygOtLxWyfvjK7WSkM_J7m4rLonb0UDtjJKLaTXRWwYs2dBhbLwLVtlR7dF6Xf4ibMg88UuwR_q8em7YyKysMqW0ViC7AJjEhk7DTGpJz72tSf9Ht00Pi7IuYCSaOKA1_eyCTQe-CY_9i89p1ea7DtCg7UgE4B3fWegbOiqSKqGCxHUcr3JRlgdXbnpVupsqPv__z3AaJdk8&avtc=1&avte=4&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokLiftActivator_W.14-80_Socdem_2pd_AW_DnevnojKremFiller"
            class="products__btn"
          >
            Подробнее
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="programs__item">
          <a
            target="_blank"
            href="https://www.ozon.ru/product/chernyy-zhemchug-nochnaya-krem-maska-dlya-litsa-liftactivator-s-peptidami-i-tseramidami-308224256/?_bctx=CAYQ4NRE&advert=-fQasic2yPX9i4KLsYTDbK81VZTqyFfll66jujzBF4yRWufQJ0rXQ6gVsz6SamvnxnR9Dm3ia9CULZmtzZuulAV2FnFd09ekRuf9wNbpBJcchPpGhC55b707rTNkSoDDgqBFJWTMTgHuj9jirr9bjxktnnigxurFy3qGaTHJPS9gyclw2irDb-SsCODdrlZBARoxnQ5Gqoa7PLnzNc2vNYnuSCAO9UO_g3hezvulp1I68i_cnFpRwRXhRsHwlA&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokLiftActivator_W.14-80_Socdem_2pd_AW_NochnayaKremMaska"
            class="programs__item-photo"
          >
            <img src="images/products/1-3.jpg" alt="" />
          </a>
          <h4>НОЧНАЯ КРЕМ-МАСКА ДЛЯ ЛИЦА С ПЕПТИДАМИ И ЦЕРАМИДАМИ</h4>
          <p class="products__description">
            Питает, повышает эластичность кожи
          </p>
          <a
            target="_blank"
            href="https://www.ozon.ru/product/chernyy-zhemchug-nochnaya-krem-maska-dlya-litsa-liftactivator-s-peptidami-i-tseramidami-308224256/?_bctx=CAYQ4NRE&advert=-fQasic2yPX9i4KLsYTDbK81VZTqyFfll66jujzBF4yRWufQJ0rXQ6gVsz6SamvnxnR9Dm3ia9CULZmtzZuulAV2FnFd09ekRuf9wNbpBJcchPpGhC55b707rTNkSoDDgqBFJWTMTgHuj9jirr9bjxktnnigxurFy3qGaTHJPS9gyclw2irDb-SsCODdrlZBARoxnQ5Gqoa7PLnzNc2vNYnuSCAO9UO_g3hezvulp1I68i_cnFpRwRXhRsHwlA&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokLiftActivator_W.14-80_Socdem_2pd_AW_NochnayaKremMaska"
            class="products__btn"
          >
            Подробнее
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="programs__item">
          <a
            target="_blank"
            href="https://www.ozon.ru/product/chernyy-zhemchug-gel-piling-dlya-litsa-liftactivator-ochishchayushchiy-s-aha-kislotami-rovnyy-308224257/?_bctx=CAYQ4NRE&asb=D1ZbJBxQsuUK6wL8lHpXHZJgsq9ynAOHA%252BN3pr1Z%252FHM%253D&asb2=kCDlOc3C79EPY_9OEOb_pjyONv0H2yWxoMWXZK4DAghgeIGesDRIjmjHvPQeBc0o&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokLiftActivator_W.14-80_Socdem_2pd_AW_GelPilingDlyaLica"
            class="programs__item-photo"
          >
            <img src="images/products/1-4.jpg" alt="" />
          </a>
          <h4>ГЕЛЬ-ПИЛИНГ ДЛЯ ЛИЦА <br />ОЧИЩАЮЩИЙ</h4>
          <p class="products__description">Отшелушивает ороговевшие клетки</p>
          <a
            target="_blank"
            href="https://www.ozon.ru/product/chernyy-zhemchug-gel-piling-dlya-litsa-liftactivator-ochishchayushchiy-s-aha-kislotami-rovnyy-308224257/?_bctx=CAYQ4NRE&asb=D1ZbJBxQsuUK6wL8lHpXHZJgsq9ynAOHA%252BN3pr1Z%252FHM%253D&asb2=kCDlOc3C79EPY_9OEOb_pjyONv0H2yWxoMWXZK4DAghgeIGesDRIjmjHvPQeBc0o&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokLiftActivator_W.14-80_Socdem_2pd_AW_GelPilingDlyaLica"
            class="products__btn"
          >
            Подробнее
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="programs__item">
          <a
            target="_blank"
            class="programs__item-photo"
            href="https://www.ozon.ru/product/chernyy-zhemchug-splesh-maska-dlya-litsa-i-shei-liftactivator-obnovlyayushchaya-s-aha-kislotami-308284275/?utm_campaign=vendor_org_120480_BrandSite_Button&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=productcard&utm_content=LandingHtmlPage&utm_medium=EAN8714100910580&utm_medium=Display&utm_source=BlackPearl&utm_term=catalog%3Futm_source%3DYandexTravel_initiative&utm_term=1_ProduktovyjBlokLiftActivator_W.14-80_Socdem_2pd_AW_SpleshMaska"
          >
            <img src="images/products/1-5.jpg" alt="" />
          </a>
          <h4>ОБНОВЛЯЮЩАЯ СПЛЭШ-МАСКА ДЛЯ ЛИЦА И ШЕИ</h4>
          <p class="products__description">
            Обеспечивает эффект мягкого пилинга
          </p>
          <a
            target="_blank"
            class="products__btn"
            href="https://www.ozon.ru/product/chernyy-zhemchug-splesh-maska-dlya-litsa-i-shei-liftactivator-obnovlyayushchaya-s-aha-kislotami-308284275/?utm_campaign=vendor_org_120480_BrandSite_Button&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=productcard&utm_content=LandingHtmlPage&utm_medium=EAN8714100910580&utm_medium=Display&utm_source=BlackPearl&utm_term=catalog%3Futm_source%3DYandexTravel_initiative&utm_term=1_ProduktovyjBlokLiftActivator_W.14-80_Socdem_2pd_AW_SpleshMaska"
          >
            Подробнее
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination2"></div>
    <p class="products__info">
      ¹Укрепляет и подтягивает за счёт синтеза коллагена I-IV-VIII типов,
      эластина и гиалуроновой кислоты, in-vitro тесты производителя активного
      ингредиента крема.
    </p>
  </div>
</div>
