<div id="peeling" class="products__product">
  <div class="products__products-info">
    <p class="products__product-info products__product-info_left">Линейка</p>
    <p class="products__product-info products__product-info_right">
      [ПИЛИНГ ЭКСПЕРТ]
    </p>
    <h2 class="products__product-info products__product-info_title">
      PEELING EXPERT
    </h2>
  </div>
  <p class="products__product-description">
    Отдохнуть, не&nbsp;переживая о&nbsp;последствиях для кожи, помогут средства
    &laquo;Черный Жемчуг&raquo; PEELING EXPERT&nbsp;&mdash; деликатная формула
    с&nbsp;AHA-, BHA- и&nbsp;PHA-кислотами бережно очищает и&nbsp;отшелушивает
    кожу
  </p>
  <ul class="products__product-options">
    <div class="products__product-option">
      <h3>Удаляет ороговевшие клетки</h3>
      <p>Возвращает бархатистость и сияние</p>
    </div>
    <div class="products__product-option">
      <h3>Борется с гиперпигментацией</h3>
      <p>Обеспечивает ровный тон и рельеф кожи</p>
    </div>
    <div class="products__product-option">
      <h3>Разглаживает морщины</h3>
      <p>Придаёт коже упругость</p>
    </div>
  </ul>
  <h3 class="products__programs-title">Программы ухода</h3>
  <div class="products__programs products__programs_two">
    <div class="programs__item">
      <a
        target="_blank"
        class="programs__item-photo"
        href="https://www.ozon.ru/product/chernyy-zhemchug-piling-maska-dlya-litsa-obnovlyayushchaya-48-ml-1112719799/?_bctx=CAYQmtJE&advert=n61i9Rg7CK-znGHmuv2UtBV3bwXBJOZ0VQP7-XNiyw9GQUOpBTxM38kRM9PKmEgJD85fgnvZeaJwBHn3vlffcdZLi4QlDyt8IcCNUs0LlZ9lokFFSopB08eKyR8bfMPX5j7KIX-8UWC4lBVyC2pjHc1mgcRVpETyrXH13nvk9WZUsicNEIW0eFO_8m8u8MA4w4XyNNH6gHJMd0lPOCgGTUKwMHoBD_FV03ajLxv0l5W_f95iUnIVcKY0PSQ-sQ&avtc=1&avte=2&avts=1700668457%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokPeelingExpert_W.14-80_Socdem_2pd_AW_PilingMaskaDlyaLica"
      >
        <img src="images/products/3-1.jpg" alt="" />
      </a>
      <h4>КРЕМ-СКУЛЬПТОР ДЛЯ ЛИЦА И ШЕИ LIFTACTIVATOR С ПЕПТИДАМИ</h4>
      <p class="products__description">
        Лифтинг-эффект и контуринг
        овала&nbsp;лица&nbsp;и&nbsp;шеи,&nbsp;50&nbsp;мл
      </p>
      <a
        target="_blank"
        class="products__btn"
        href="https://www.ozon.ru/product/chernyy-zhemchug-piling-maska-dlya-litsa-obnovlyayushchaya-48-ml-1112719799/?_bctx=CAYQmtJE&advert=n61i9Rg7CK-znGHmuv2UtBV3bwXBJOZ0VQP7-XNiyw9GQUOpBTxM38kRM9PKmEgJD85fgnvZeaJwBHn3vlffcdZLi4QlDyt8IcCNUs0LlZ9lokFFSopB08eKyR8bfMPX5j7KIX-8UWC4lBVyC2pjHc1mgcRVpETyrXH13nvk9WZUsicNEIW0eFO_8m8u8MA4w4XyNNH6gHJMd0lPOCgGTUKwMHoBD_FV03ajLxv0l5W_f95iUnIVcKY0PSQ-sQ&avtc=1&avte=2&avts=1700668457%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokPeelingExpert_W.14-80_Socdem_2pd_AW_PilingMaskaDlyaLica"
      >
        Подробнее
      </a>
    </div>
    <div class="programs__item">
      <a
        target="_blank"
        class="programs__item-photo"
        href="https://www.ozon.ru/product/tonik-dlya-litsa-chernyy-zhemchug-otshelushivayushchiy-190-ml-1112719824/?_bctx=CAYQmtJE&advert=Gf0bha7DtfPUDAKmizgz3IiwaeJ46-SNn5Q7HA2aF9dIxaR52E_oidy6-nDUJRut7jbUgUC4DuKCzXZJ9B968tSgpEScQfCh1fN0i2QQNIOzgLjaYfti4q55jygBZSq00NXf0O0uOr8qtAfEh_CiL8Vyn8YBOqgy2oMOazo8hFl-ESDt-fcoRUwb8z5YYLMWdQACEUwG04ohXYAiELTt2sffLPJEMbHfK027emDXW8XYLEQIwPz6N2oi9-6ILA&avtc=1&avte=2&avts=1700668457%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokPeelingExpert_W.14-80_Socdem_2pd_AW_LosonTonik"
      >
        <img src="images/products/3-2.jpg" alt="" />
      </a>
      <h4>КРЕМ-СКУЛЬПТОР ДЛЯ ЛИЦА И ШЕИ LIFTACTIVATOR С ПЕПТИДАМИ</h4>
      <p class="products__description">
        Лифтинг-эффект и контуринг
        овала&nbsp;лица&nbsp;и&nbsp;шеи,&nbsp;50&nbsp;мл
      </p>
      <a
        target="_blank"
        class="products__btn"
        href="https://www.ozon.ru/product/tonik-dlya-litsa-chernyy-zhemchug-otshelushivayushchiy-190-ml-1112719824/?_bctx=CAYQmtJE&advert=Gf0bha7DtfPUDAKmizgz3IiwaeJ46-SNn5Q7HA2aF9dIxaR52E_oidy6-nDUJRut7jbUgUC4DuKCzXZJ9B968tSgpEScQfCh1fN0i2QQNIOzgLjaYfti4q55jygBZSq00NXf0O0uOr8qtAfEh_CiL8Vyn8YBOqgy2oMOazo8hFl-ESDt-fcoRUwb8z5YYLMWdQACEUwG04ohXYAiELTt2sffLPJEMbHfK027emDXW8XYLEQIwPz6N2oi9-6ILA&avtc=1&avte=2&avts=1700668457%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokPeelingExpert_W.14-80_Socdem_2pd_AW_LosonTonik"
      >
        Подробнее
      </a>
    </div>
  </div>
</div>
