<div id="spf" class="products__product">
  <div class="products__products-info">
    <p class="products__product-info products__product-info_left">Линейка</p>
    <p class="products__product-info products__product-info_right">
      [СПФ ЭКСПЕРТ]
    </p>
    <h3 class="products__product-info products__product-info_title">
      SPF EXPERT
    </h3>
  </div>
  <p class="products__product-description">
    Чтобы сохранить красоту и&nbsp;молодость кожи, её&nbsp;необходимо защищать
    от&nbsp;солнца даже зимой. Для этого &laquo;Черный Жемчуг&raquo; разработал
    целую гамму кремов, которые обеспечивают уход и&nbsp;защиту
    от&nbsp;фотостарения. Есть даже СС-крем и&nbsp;база под макияж
  </p>
  <ul class="products__product-options">
    <li class="products__product-option">
      <div>Увлажнение кожи</div>
      <p>Сокращение мимических морщин</p>
    </li>
    <li class="products__product-option">
      <div>Лифтинг-эффект</div>
      <p>Повышает эластичность</p>
    </li>
    <li class="products__product-option">
      <div>Предотвращает гиперпигментацию</div>
      <p>Защищает от ультрафиолетовых лучей</p>
    </li>
  </ul>
  <h3 class="products__programs-title">Программы ухода</h3>

  <div class="swiper3 swiper products__programs swiper_padding">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="programs__item">
          <a
            target="_blank"
            class="programs__item-photo"
            href="https://www.ozon.ru/product/dnevnoy-krem-dlya-litsa-chernyy-zhemchug-dlya-molodoy-kozhi-spf-30-48-ml-885449179/?_bctx=CAYQ4NRE&asb=8MBec9YI82FckvZS9Sj%252BbsGY6wKemmqjVLN7VWyZHSY%253D&asb2=ozEtexYtAiV-x6uJL1LGWIh0E-MEGomecz0K2-PiyCIujCY_3oV34vUbOz6kQFVr&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_medium=Display&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_term=1_ProduktovyjBlokSpfExpert_W.14-80_Socdem_2pd_AW_DnevnojKremDlyaLicaOt25&utm_content=LandingHtmlPage&sh=AKM0_YtS4A"
          >
            <img src="images/products/2-1.jpg" alt="" />
          </a>
          <h4>ДНЕВНОЙ КРЕМ ДЛЯ ЛИЦА<br />ДЛЯ МОЛОДОЙ КОЖИ SPF 30</h4>
          <p class="products__description">
            Лифтинг-эффект и контуринг
            овала&nbsp;лица&nbsp;и&nbsp;шеи,&nbsp;50&nbsp;мл
          </p>
          <a
            target="_blank"
            class="products__btn products__btn_white"
            href="https://www.ozon.ru/product/dnevnoy-krem-dlya-litsa-chernyy-zhemchug-dlya-molodoy-kozhi-spf-30-48-ml-885449179/?_bctx=CAYQ4NRE&asb=8MBec9YI82FckvZS9Sj%252BbsGY6wKemmqjVLN7VWyZHSY%253D&asb2=ozEtexYtAiV-x6uJL1LGWIh0E-MEGomecz0K2-PiyCIujCY_3oV34vUbOz6kQFVr&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_medium=Display&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_term=1_ProduktovyjBlokSpfExpert_W.14-80_Socdem_2pd_AW_DnevnojKremDlyaLicaOt25&utm_content=LandingHtmlPage&sh=AKM0_YtS4A"
          >
            Подробнее
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="programs__item">
          <a
            target="_blank"
            href="https://www.ozon.ru/product/dnevnoy-krem-dlya-litsa-chernyy-zhemchug-dlya-zreloy-kozhi-spf-30-48-ml-885446503/?_bctx=CAYQ4NRE&asb=MGTT57nhR0GQk4%252BLi%252BBv5E5xbwlNrY9Jtqu0vkakcZw%253D&asb2=4sigPUiVrxVfpyIsOXcyOt_DSS5-C6Pyrk45h2iHDoRwxmMpEQ8HxRZQlG8dWGLs&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokSpfExpert_W.14-80_Socdem_2pd_AW_DnevnojKremDlyaLicaOt45"
            class="programs__item-photo"
          >
            <img src="images/products/2-2.jpg" alt="" />
          </a>
          <h4>
            ДНЕВНОЙ КРЕМ ДЛЯ ЛИЦА<br />
            ДЛЯ ЗРЕЛОЙ КОЖИ SPF 30
          </h4>
          <p class="products__description">
            Лифтинг-эффект и предотвращение гиперпигментации
          </p>
          <a
            target="_blank"
            href="https://www.ozon.ru/product/dnevnoy-krem-dlya-litsa-chernyy-zhemchug-dlya-zreloy-kozhi-spf-30-48-ml-885446503/?_bctx=CAYQ4NRE&asb=MGTT57nhR0GQk4%252BLi%252BBv5E5xbwlNrY9Jtqu0vkakcZw%253D&asb2=4sigPUiVrxVfpyIsOXcyOt_DSS5-C6Pyrk45h2iHDoRwxmMpEQ8HxRZQlG8dWGLs&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokSpfExpert_W.14-80_Socdem_2pd_AW_DnevnojKremDlyaLicaOt45"
            class="products__btn products__btn_white"
          >
            Подробнее
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="programs__item">
          <a
            target="_blank"
            class="programs__item-photo"
            href="https://www.ozon.ru/product/baza-pod-makiyazh-chernyy-zhemchug-dlya-vseh-tipov-kozhi-s-spf-15-i-885446510/?_bctx=CAYQ4NRE&asb=LvlWtn%252B%252BduvpuURILD31w6tiWl8W0mcCq8%252FlMUjFILJQidl%252BRnNrAsvwRMsxmCYl&asb2=3_l3KYeADp1MON-T-yb63KUtnrTy_EO3WqbGospS4Ps0xI9g1acYuBfUGwJAy5TgMJIZ4xNhDkkevOetlv718GhWUnMeZ8PHls83NkhRA5_oxHSuJ7Wn4lV0QchBJ3arH-LkjeJc3MNSUNCfMjtdB3OEp8DLbJVnNsk6iTAESJs&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokSpfExpert_W.14-80_Socdem_2pd_AW_BazaPodMakiyazhSpf15"
          >
            <img src="images/products/2-3.jpg" alt="" />
          </a>
          <h4>БАЗА ПОД МАКИЯЖ SPF 15</h4>
          <p class="products__description">
            Увлажнение, продление стойкости макияжа
          </p>
          <a
            target="_blank"
            class="products__btn products__btn_white"
            href="https://www.ozon.ru/product/baza-pod-makiyazh-chernyy-zhemchug-dlya-vseh-tipov-kozhi-s-spf-15-i-885446510/?_bctx=CAYQ4NRE&asb=LvlWtn%252B%252BduvpuURILD31w6tiWl8W0mcCq8%252FlMUjFILJQidl%252BRnNrAsvwRMsxmCYl&asb2=3_l3KYeADp1MON-T-yb63KUtnrTy_EO3WqbGospS4Ps0xI9g1acYuBfUGwJAy5TgMJIZ4xNhDkkevOetlv718GhWUnMeZ8PHls83NkhRA5_oxHSuJ7Wn4lV0QchBJ3arH-LkjeJc3MNSUNCfMjtdB3OEp8DLbJVnNsk6iTAESJs&avtc=1&avte=2&avts=1701258413%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokSpfExpert_W.14-80_Socdem_2pd_AW_BazaPodMakiyazhSpf15"
          >
            Подробнее
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="programs__item">
          <a
            target="_blank"
            href="https://www.ozon.ru/product/ss-krem-dlya-litsa-chernyy-zhemchug-dlya-vseh-tipov-kozhi-40-ml-885449188/?_bctx=CAYQ4NRE&asb=5yQBxZwo8cdLXGO1Ny4wO%252BYUBZlQ244VujNKvsGykgHLqu7KXp6xWzwRcbzGdYg9&asb2=U9BBnlxBu4E2qeyoRnAPx5Mrwnv4Q_S_rtJUeu2u8-1YInJ1xk5dD3GBqj2aGzTeq1xJzeNU-utioftIVePJ9iedQTIPA35eesXt8kY4CDvWcxNU93PesiyZR_3CbcW8lWRIHPMY6bhOA7tKtdCZdMbJ4V6D4WQwrZIttknB9M4&avtc=1&avte=2&avts=17012584133%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokSpfExpert_W.14-80_Socdem_2pd_AW_BazaPodMakiyazhSpf25"
            class="programs__item-photo"
          >
            <img src="images/products/2-4.jpg" alt="" />
          </a>
          <h4>СС-КРЕМ ДЛЯ ЛИЦА ДЛЯ ВСЕХ ТИПОВ КОЖИ SPF 25</h4>
          <p class="products__description">
            Ровный тон без эффекта маски, сияние
          </p>
          <a
            target="_blank"
            href="https://www.ozon.ru/product/ss-krem-dlya-litsa-chernyy-zhemchug-dlya-vseh-tipov-kozhi-40-ml-885449188/?_bctx=CAYQ4NRE&asb=5yQBxZwo8cdLXGO1Ny4wO%252BYUBZlQ244VujNKvsGykgHLqu7KXp6xWzwRcbzGdYg9&asb2=U9BBnlxBu4E2qeyoRnAPx5Mrwnv4Q_S_rtJUeu2u8-1YInJ1xk5dD3GBqj2aGzTeq1xJzeNU-utioftIVePJ9iedQTIPA35eesXt8kY4CDvWcxNU93PesiyZR_3CbcW8lWRIHPMY6bhOA7tKtdCZdMbJ4V6D4WQwrZIttknB9M4&avtc=1&avte=2&avts=17012584133%3Futm_source%3DYandexTravel_initiative&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_content=LandingHtmlPage&utm_medium=Display&utm_term=1_ProduktovyjBlokSpfExpert_W.14-80_Socdem_2pd_AW_BazaPodMakiyazhSpf25"
            class="products__btn products__btn_white"
          >
            Подробнее
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination swiper-pagination3"></div>
</div>
