@mixin container {
  max-width: 1240rem;
  margin: 0 auto;
}

@mixin button($background, $color) {
  height: 77rem;
  width: 100%;
  color: $color;
  cursor: pointer;
  background: $background;
  border: none;
  font-size: 20rem;
  line-height: 23rem;
  transition: background 0.5s linear;

  &:hover {
    background: $grey;
  }
}

@mixin button-link($background, $color, $hover-color) {
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;

  height: 77rem;
  width: 100%;
  color: $color;
  cursor: pointer;
  background: $background;
  border: none;
  font-size: 20rem;
  line-height: 23rem;
  transition: background 0.3s linear;

  &:hover {
    background: $hover-color;
  }
}

@mixin button_mob($background, $color) {
  width: 275rem;
  height: 54rem;
  color: $color;
  cursor: pointer;
  background: $background;
  border: none;
  font-size: 14rem;
  line-height: 16rem;
  transition: background 0.3s linear;

  &:hover {
    background: $grey;
  }
}

@mixin button-link_mob($background, $color, $hover-color) {
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;

  height: 54rem;
  width: 100%;
  color: $color;
  cursor: pointer;
  background: $background;
  border: none;
  font-size: 14rem;
  line-height: 16rem;
  transition: background 0.3s linear;

  &:hover {
    background: $hover-color;
  }
}
