// для корректных брейкпоинтов на 1000px
$sm: 999.9px;
$lg: 1439.9px;

$min: 800rem;

// colors

$ligth-violet: #ebe7ea;
$dark-violet: #595478;
$violet: #997fff;
$white: #ffffff;
$grey-light: #fbf7f7;
$grey: #777483;

$blue: #077bed;
$blue-hover: #0473e0;

$bg-light: #fcf8f8;

$text: #303340;
$black: #1c1c20;
$black-deep: #000000;

$beige: #ffbe9f;

$ease: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);

// font-size

$simple-text: 16rem;

$title: 24rem;
