<section id="checklist-nature" class="popup popup__checklists">
  <div class="popup__container popup__container_violet">
    <button class="popup__close-button popup__close-button_violet"></button>
    <div class="popup__content">
      <div class="popup__main-title">
        <div class="popup__place">
          <h3>Природа</h3>
        </div>
        <p>
          Чек-лист <br />
          для зимы на природе
        </p>
      </div>
      <div class="popup__images popup__images_violet">
        <img src="./images/idea/cream-nature.jpg" alt="" />
        <img src="./images/idea/forest.jpg" alt="" />
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <div class="popup__subtitle">Рекомендуем не забыть</div>
        <p class="popup__text popup__text_violet">Термобельё</p>
        <p class="popup__text popup__text_violet">Флисовая кофта</p>
        <p class="popup__text popup__text_violet">Сидушка туристическая</p>
        <p class="popup__text popup__text_violet">Грелки для рук и ног</p>
        <p class="popup__text popup__text_violet">Спички или зажигалка</p>
        <p class="popup__text popup__text_violet">Скачанные карты местности</p>
        <p class="popup__text popup__text_violet">
          Портативная зарядка для телефона
        </p>
        <p class="popup__text popup__text_violet">Налобный фонарик</p>
        <p class="popup__text popup__text_violet">Термос с тёплым чаем</p>
        <p class="popup__text popup__text_violet">
          Орехи или энергетические батончики на перекус
        </p>
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <div class="popup__subtitle">Аптечка</div>
        <p class="popup__text popup__text_violet">Адсорбент</p>
        <p class="popup__text popup__text_violet">Местные антисептики</p>
        <p class="popup__text popup__text_violet">Пластырь</p>
        <p class="popup__text popup__text_violet">Жаропонижающее</p>
        <p class="popup__text popup__text_violet">Эластичный бинт</p>
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <div class="popup__subtitle">Косметичка</div>
        <p class="popup__description">
          Ветер, низкие температуры, трение об&nbsp;одежду и&nbsp;комбинация
          пота и&nbsp;пыли&nbsp;&mdash; даже в&nbsp;привычном климате коже
          приходится терпеть перегрузки. Чтобы компенсировать
          их&nbsp;последствия, важно позаботиться о&nbsp;коже во&nbsp;время
          прогулки на&nbsp;природе и&nbsp;после неё:
        </p>
        <p class="popup__text popup__text_violet">
          Крем для лица с&nbsp;spf не&nbsp;ниже 15&nbsp;обеспечивает интенсивный
          уход за&nbsp;кожей и&nbsp;защиту от&nbsp;ультрафиолетовых лучей:
          например,
          <a href="#">продукты линейки SPF EXPERT*</a> от&nbsp;&laquo;Черного
          Жемчуга&raquo;.
        </p>
        <p class="popup__text popup__text_violet">
          Плотный бальзам для губ с жирной текстурой для защиты от холода и
          ветра
        </p>
        <p class="popup__text popup__text_violet">
          Крем для рук с плотной текстурой
        </p>
      </div>
      <div class="popup__photos">
        <img src="./images/idea/forest-arh.jpg" alt="" />
        <img src="./images/idea/skin.jpg" alt="" />
        <img src="./images/idea/cream-bali.jpg" alt="" />
      </div>
      <a
        class="popup__button"
        href="https://www.ozon.ru/highlight/uhod-za-litsom-chernyy-zhemchug-1124960/?utm_source=YandexTravel_initiative&utm_medium=Display&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_term=1_KartochkiIdej_W.14-80_Socdem_2pd_AW_KnopkaPodrobneeChekListSovety&utm_content=LandingHtmlPage"
        target="_blank"
        >Подробнее</a
      >
    </div>
  </div>
</section>
