<section id="checklist-mountains" class="popup popup__checklists">
  <div class="popup__container popup__container_violet">
    <button class="popup__close-button popup__close-button_violet"></button>
    <div class="popup__content">
      <div class="popup__main-title">
        <div class="popup__place">
          <h3>Горы</h3>
        </div>
        <p>Чек-лист <br />для зимы в горах</p>
      </div>
      <div class="popup__images popup__images_violet">
        <img src="./images/idea/ski-roza.jpg" alt="" />
        <img src="./images/idea/mountains2-elb.jpg" alt="" />
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <div class="popup__subtitle">Рекомендуем не забыть</div>
        <p class="popup__text popup__text_violet">Паспорт</p>
        <p class="popup__text popup__text_violet">
          Портативная зарядка для телефона
        </p>
        <p class="popup__text popup__text_violet">Термобельё</p>
        <p class="popup__text popup__text_violet">Флисовая кофта</p>
        <p class="popup__text popup__text_violet">Лёгкая куртка-пуховка</p>
        <p class="popup__text popup__text_violet">Грелки для рук и ног</p>
        <p class="popup__text popup__text_violet">
          Электрические сушилки для обуви
        </p>
        <p class="popup__text popup__text_violet">Лёгкий рюкзак</p>
        <p class="popup__text popup__text_violet">Бутылка для воды</p>
        <p class="popup__text popup__text_violet">Компактный фонарик</p>
        <p class="popup__text popup__text_violet">
          Распечатка страховки (при поездке за границу)
        </p>
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <div class="popup__subtitle">Аптечка</div>
        <p class="popup__text popup__text_violet">
          Разогревающая мазь для мышц
        </p>
        <p class="popup__text popup__text_violet">Жаропонижающее</p>
        <p class="popup__text popup__text_violet">Эластичный бинт</p>
        <p class="popup__text popup__text_violet">
          Сосудосуживающие капли для носа
        </p>
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <div class="popup__subtitle">Косметичка</div>
        <p class="popup__description">
          Кожа в&nbsp;горах подвергается воздействию полного спектра
          травмирующих факторов: интенсивное солнце, ветер и&nbsp;мороз
          на&nbsp;склонах, постоянное трение о&nbsp;балаклаву или шарф,
          а&nbsp;заодно&nbsp;&mdash; иссушающий воздух в&nbsp;отапливаемых
          помещениях. Поэтому очень важно уделить внимание защите
          от&nbsp;внешних факторов и&nbsp;восстановлению. В&nbsp;этом помогут:
        </p>
        <p class="popup__text popup__text_violet">
          Крем для лица с&nbsp;spf не&nbsp;ниже 15&nbsp;обеспечивает интенсивный
          уход за&nbsp;кожей и&nbsp;защиту от&nbsp;ультрафиолетовых лучей:
          например,
          <a href="#">продукты линейки SPF EXPERT*</a> от&nbsp;&laquo;Черного
          Жемчуга&raquo;.
        </p>
        <p class="popup__text popup__text_violet">
          Плотный бальзам для губ с жирной текстурой для защиты от холода и
          ветра
        </p>
        <p class="popup__text popup__text_violet">
          Тканевые маски с антиоксидантами для экспресс-восстановления кожи
        </p>
        <p class="popup__text popup__text_violet">
          Термальная вода для защиты кожи от сухого воздуха в помещении
        </p>
      </div>
      <div class="popup__photos">
        <img src="./images/idea/buster-dg.jpg" alt="" />
        <img src="./images/idea/skin.jpg" alt="" />
        <img src="./images/idea/cream-bali.jpg" alt="" />
      </div>
      <a class="popup__button" href="#">Подробнее</a>
    </div>
  </div>
</section>
