<section id="checklist-winter" class="popup popup__checklists">
  <div class="popup__container popup__container_violet">
    <button class="popup__close-button popup__close-button_violet"></button>
    <div class="popup__content">
      <div class="popup__main-title">
        <div class="popup__place">
          <h3>Тепло</h3>
        </div>

        <p>
          Чек-лист<br />
          в тёплые страны
        </p>
      </div>
      <div class="popup__images popup__images_violet">
        <img src="./images/idea/buster-dg.jpg" alt="" />
        <img src="./images/idea/sea-bali.jpg" alt="" />
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <div class="popup__subtitle">Рекомендуем не забыть</div>
        <p class="popup__text popup__text_violet">Паспорт</p>
        <p class="popup__text popup__text_violet">
          Портативная зарядка для телефона
        </p>
        <p class="popup__text popup__text_violet">Распечатанная страховка</p>
        <p class="popup__text popup__text_violet">Купальник</p>
        <p class="popup__text popup__text_violet">Головной убор</p>
        <p class="popup__text popup__text_violet">Сланцы</p>
        <p class="popup__text popup__text_violet">Солнцезащитные очки</p>
        <p class="popup__text popup__text_violet">Бутылка для воды</p>
        <p class="popup__text popup__text_violet">Дождевик</p>
        <p class="popup__text popup__text_violet">Тёплая толстовка</p>
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <div class="popup__subtitle">Аптечка</div>
        <p class="popup__text popup__text_violet">Адсорбент</p>
        <p class="popup__text popup__text_violet">Антигистаминные средства</p>
        <p class="popup__text popup__text_violet">Местные антисептики</p>
        <p class="popup__text popup__text_violet">Пластырь</p>
        <p class="popup__text popup__text_violet">Средства с пантенолом</p>
      </div>
      <div class="popup__text-wrapper popup__text-wrapper_violet">
        <div class="popup__subtitle">Косметичка</div>
        <p class="popup__description">
          В&nbsp;то&nbsp;время как весь организм заряжается энергией солнца
          и&nbsp;моря, коже приходится несладко. Соль, ветер, солнечные лучи
          и&nbsp;воздействие пыли&nbsp;&mdash; всё это может сказываться
          на&nbsp;ней не&nbsp;лучшим образом. Поэтому так важно уделить внимание
          интенсивному увлажнению и&nbsp;питанию.
        </p>
        <p class="popup__text popup__text_violet">
          Увлажняющий мист для лица с витаминами
        </p>
        <p class="popup__text popup__text_violet">
          <a href="#">Сыворотка-бустер с&nbsp;коллагеном и&nbsp;SPF 20&nbsp;</a>
          от&nbsp;&laquo;Черного Жемчуга&raquo;&nbsp;&mdash; стимулирует синтез
          коллагеновых волокон, защищает от&nbsp;фотостарения, интенсивно
          увлажняет кожу, делает её&nbsp;мягкой и&nbsp;эластичной
        </p>
        <p class="popup__text popup__text_violet">
          <a href="#">Крем-скульптор LiftACTIVATOR**</a> от&nbsp;&laquo;Черного
          Жемчуга&raquo;&nbsp;&mdash; активно увлажняет и&nbsp;питает кожу,
          укрепляет контур лица, воссоздает четкий овал лица и&nbsp;шеи¹
        </p>
        <p class="popup__text popup__text_violet">
          Сыворотка или кондиционер для роста ресниц и бровей
        </p>
        <p class="popup__text popup__text_violet">
          Тканевые, гелевые или гиалуроновые патчи для области вокруг глаз для
          дополнительного питания и увлажнения
        </p>
      </div>
      <div class="popup__photos">
        <img src="./images/idea/sea-sh.jpg" alt="" />
        <img src="./images/idea/skin.jpg" alt="" />
        <img src="./images/idea/cream-roza.jpg" alt="" />
      </div>
      <a class="popup__button" href="#">Подробнее</a>
    </div>
  </div>
</section>
