<section id="checklist-mountains" class="popup popup__ideas">
    <div class="popup__container popup__container_violet">
      <button class="popup__close-button popup__close-button_violet"></button>
      <div class="popup__content">
        <div class="popup__main-title">
            <div class="popup__place">
              <h3>Горы</h3>
            </div>
            <p>Чек-лист <br>для зимы в горах</p>
        </div>
        <div class="popup__images popup__images_violet">
            <img src="./images/idea/ski-roza.jpg" alt="">
            <img src="./images/idea/mountains2-elb.jpg" alt="">
        </div>
        <div class="popup__text-wrapper popup__text-wrapper_violet">
            <div class="popup__subtitle">Рекомендуем не забыть</div>
            <p class="popup__text popup__text_violet">Паспорт</p>
            <p class="popup__text popup__text_violet">Портативная зарядка для телефона</p>
            <p class="popup__text popup__text_violet">Термобельё</p>
            <p class="popup__text popup__text_violet">Флисовая кофта</p>
            <p class="popup__text popup__text_violet">Лёгкая куртка-пуховка</p>
            <p class="popup__text popup__text_violet">Грелки для рук и ног</p>
            <p class="popup__text popup__text_violet">Электрические сушилки для обуви</p>
            <p class="popup__text popup__text_violet">Лёгкий рюкзак</p>
            <p class="popup__text popup__text_violet">Бутылка для воды</p>
            <p class="popup__text popup__text_violet">Компактный фонарик</p>
            <p class="popup__text popup__text_violet">Распечатка страховки (при поездке за границу)</p>
        </div>
        <div class="popup__images popup__images_violet popup__images_rigth">
          <img src="./images/idea/house-ch.jpg" alt="">
          <img src="./images/method5.jpg" alt="">
      </div>
        <div class="popup__text-wrapper popup__text-wrapper_violet">
            <p class="popup__text popup__text_violet">Если хочется экстрима, прихватите ледянку:
              спуск даже с&nbsp;небольшого склона зарядит энергией на&nbsp;весь день. Интенсивно увлажнить кожу после таких 
              приключений поможет <a href="#">сыворотка-бустер с&nbsp;гиалуроном</a> от&nbsp;&laquo;Черного Жемчуга&raquo;. А&nbsp;после прогулки 
              на&nbsp;морозе стоит уделить особое внимание коже лица. Делимся советами в&nbsp;нашем чек-листе.
            </p>
        </div>
        <div class="popup__photos">
            <img src="./images/idea/buster.jpg" alt="">
            <img src="./images/method1.jpg" alt="">
            <img src="./images/idea/woman-ch.jpg" alt="">
        </div>
        <div class="popup__navigation-menu">
            <button
              data-popup-id="checklist-mountains" 
              data-popup-distributing="false"
              class="popup__checklist"
            >
              Чек-лист в поездку
            </button>
            <a
              href="https://travel.yandex.ru/promo/mountains-of-impressions/"
              target="_blank"
              class="popup__hotel"
              >Выбрать отель</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  