<section id="bali" class="popup popup__ideas">
    <div class="popup__container">
      <button class="popup__close-button"></button>
      <div class="popup__content">
        <h3 class="popup__title">Бали</h3>
        <div class="popup__images">
            <img src="./images/idea/sea-bali.jpg" alt="">
            <img src="./images/idea/hands-bali.jpg" alt="">
        </div>
        <div class="popup__text-wrapper">
            <p class="popup__text">Остров, который давно стал центром притяжения для всех, кто в&nbsp;поиске себя. Огромный 
                выбор йога-студий и&nbsp;центров самопознания, где помогут познать свою душу, а&nbsp;не&nbsp;менее широкий 
                набор магазинов от&nbsp;дизайнеров со&nbsp;всего мира позволит порадовать тело красивыми вещами из&nbsp;качественных 
                тканей. Если надоест шумный&nbsp;юг, можно отправиться на&nbsp;более прохладный и&nbsp;пустынный север острова, 
                с&nbsp;его джунглями и&nbsp;храмами.
            </p>
        </div>
        <div class="popup__images popup__images_rigth">
            <img src="./images/idea/river-bali.jpg" alt="">
            <img src="./images/idea/tempel-bali.jpg" alt="">
        </div>
        <div class="popup__text-wrapper">
            <p class="popup__text">Солнце на&nbsp;Бали очень активное, и&nbsp;защищать кожу надо даже в&nbsp;том случае,
                если вы&nbsp;избегаете прямых лучей. Для этого идеально подойдёт восстанавливающая <a href="#">сыворотка-бустер с&nbsp;SPF 
                20</a>&nbsp;от&nbsp;&laquo;Черного Жемчуга&raquo;, а&nbsp;также продукты из&nbsp;<a href="#">коллекции SPF EXPERT*</a>, 
                которые обеспечивают уход и&nbsp;защиту от&nbsp;фотостарения.
            </p>
        </div>
        <div class="popup__photos">
            <img src="./images/idea/grass-bali.jpg" alt="">
            <img src="./images/idea/cream-bali.jpg" alt="">
            <img src="./images/idea/houses-bali.jpg" alt="">
        </div>
        <a class="popup__button" href="#">Подробнее</a>
        <p class="popup__info">*SPF EXPERT [СПФ ЭКСПЕРТ]</p>
      </div>
    </div>
  </section>
  