<section id="sri-lanka" class="popup popup__ideas">
    <div class="popup__container">
      <button class="popup__close-button"></button>
      <div class="popup__content">
        <h3 class="popup__title">Шри-Ланка</h3>
        <div class="popup__images">
            <img src="./images/idea/green-sh.jpg" alt="">
            <img src="./images/idea/elephant-sh.jpg" alt="">
        </div>
        <div class="popup__text-wrapper">
            <p class="popup__text">Бесконечные пляжи, тёплые волны и&nbsp;позитивные местные жители&nbsp;&mdash; далеко не&nbsp;все преимущества 
                острова. Во-первых, здесь всегда сезон сёрфинга, надо лишь знать, где ловить волны. Во-вторых, железная дорога: она тянется 
                через весь остров, периодически буквально над зелёной пропастью джунглей. Ну&nbsp;и&nbsp;местные рынки, конечно, тоже достойны внимания.
            </p>
        </div>
        <div class="popup__img-wrapper">
            <img src="./images/idea/train-sh.jpg" alt="">
            <div class="popup__text-wrapper">
                <p class="popup__text">Восстановить кожу после загара и&nbsp;сократить появление гиперпигмен-тации после отпуска помогут 
                    продукты из&nbsp;коллекции <a href="#">PEELING EXPERT*</a>, а&nbsp;как ухаживать за&nbsp;кожей 
                    в&nbsp;отпуске&nbsp;&mdash; расскажем в&nbsp;чек-листе.
                </p>
            </div>
        </div>
        <div class="popup__photos">
            <img src="./images/idea/sea-sh.jpg" alt="">
            <img src="./images/idea/cream-sh.jpg" alt="">
            <img src="./images/idea/boats-sh.jpg" alt="">
        </div>
        <a class="popup__button" href="#">Подробнее</a>
        <p class="popup__info">*PEELING EXPERT [ПИЛИНГ ЭКСПЕРТ]</p>
      </div>
    </div>
  </section>
  