<section id="vietnam" class="popup popup__ideas">
    <div class="popup__container">
      <button class="popup__close-button"></button>
      <div class="popup__content">
        <h3 class="popup__title">Вьетнам</h3>
        <div class="popup__images">
            <img src="./images/idea/sea-vt.jpg" alt="">
            <img src="./images/idea/ligth-vt.jpg" alt="">
        </div>
        <div class="popup__text-wrapper">
            <p class="popup__text">Зима&nbsp;&mdash; отличное время, чтобы узнать Вьетнам лучше. Можно посетить 
                тропические острова, водопады, древние храмы и&nbsp;другие достопримечательности. А&nbsp;если захочется 
                экстрима&nbsp;&mdash; в&nbsp;Муйне самый сезон для кайт-сёрфинга. Не&nbsp;стоит также забывать об&nbsp;огромном 
                выборе тропических фруктов.
            </p>
        </div>
        <div class="popup__photos">
            <img src="./images/idea/fruits-vt.jpg" alt="">
            <img src="./images/idea/cream-bali.jpg" alt="">
            <img src="./images/idea/green-vt.jpg" alt="">
        </div>
        <a class="popup__button" href="#">Подробнее</a>
      </div>
    </div>
  </section>
  