<section id="winter" class="popup popup__ideas popup__ideas_distributing">
  <div class="popup__container">
    <button class="popup__close-button"></button>
    <picture>
      <source media="(max-width: 999px)" srcset="./images/idea/sea2-mob.jpg" />
      <source media="(min-width: 1000px)" srcset="./images/idea/sea2.jpg" />
      <img src="./images/idea/sea2.jpg" alt="" />
    </picture>
    <div class="popup__content">
      <div class="popup__text">
        <div class="popup__number">
          <h3>04</h3>
        </div>
        <p>Жаркая зима</p>
      </div>
      <div class="popup__navigation">
        <ul class="popup__navigation-items">
          <li
            data-popup-id="bali"
            data-popup-distributing="false"
            class="popup__navigation-item"
          >
            <button class="popup__place">Бали</button>
          </li>
          <li
            data-popup-id="vietnam"
            data-popup-distributing="false"
            class="popup__navigation-item"
          >
            <button class="popup__place">Вьетнам</button>
          </li>
          <li
            data-popup-id="sri-lanka"
            data-popup-distributing="false"
            class="popup__navigation-item"
          >
            <button class="popup__place">Шри-Ланка</button>
          </li>
        </ul>
        <div class="popup__navigation-menu">
          <button
            data-popup-id="checklist-winter"
            data-popup-distributing="false"
            class="popup__checklist"
          >
            Чек-лист в поездку
          </button>
          <a
            href="https://travel.yandex.ru/promo/mountains-of-impressions/"
            target="_blank"
            class="popup__hotel"
            >Выбрать отель</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
