<section class="checklist" id="#checklist">
  <div>
    <h2 class="checklist__title">Чек-листы для&nbsp;зимних&nbsp;путешествий</h2>
    <p class="checklist__subtitle">
      Чтобы ничего не забыть и наслаждаться зимними развлечениями на полную
      мощность
    </p>
    <div class="swiper checklist__container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="checklist__item">
            <button
              data-popup-id="checklist-city"
              data-popup-distributing="false"
              class="checklist__item-photo"
            >
              <img src="images/idea/skin2.jpg" alt="" />
            </button>
            <p class="checklist__description">
              Чек-лист по уходу за кожей зимой
            </p>
            <div>
              <button
                data-popup-id="checklist-city"
                data-popup-distributing="false"
                class="checklist__btn"
              >
                Подробнее
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="checklist__item">
            <button
              data-popup-id="checklist-mountains"
              data-popup-distributing="false"
              class="checklist__item-photo"
            >
              <img src="images/idea/mountains-elb.jpg" alt="" />
            </button>
            <p class="checklist__description">Чек-лист для зимы в горах</p>
            <div>
              <button
                class="checklist__btn"
                data-popup-id="checklist-mountains"
                data-popup-distributing="false"
              >
                Подробнее
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="checklist__item">
            <button
              data-popup-id="checklist-nature"
              data-popup-distributing="false"
              class="checklist__item-photo"
            >
              <img src="images/idea/woman-elb2.jpg" alt="" />
            </button>
            <p class="checklist__description">Чек-лист для зимы на природе</p>
            <div>
              <button
                data-popup-id="checklist-nature"
                data-popup-distributing="false"
                class="checklist__btn"
              >
                Подробнее
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="checklist__item">
            <button
              data-popup-id="checklist-winter"
              data-popup-distributing="false"
              class="checklist__item-photo"
            >
              <img src="images/idea/green_beach.jpg" alt="" />
            </button>
            <p class="checklist__description">Чек-лист в тёплые страны</p>
            <div>
              <button
                data-popup-id="checklist-winter"
                data-popup-distributing="false"
                class="checklist__btn"
              >
                Подробнее
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
