<footer class="footer">
  <div class="footer__content">
    <a
      class="footer__logos-pearl"
      href="https://www.myblackpearl.ru/?utm_source=YandexTravel_initiative&utm_medium=Display&utm_campaign=Unilever-BP-YandexTravel-SP-Face-Dec23&utm_term=1_Logo_Socdem_2pd_AW_logoheader&utm_content=LandingHtmlPage"
      target="_blank"
    >
      <img src="./images/logo/logo-pearl_black.svg" alt="vsk" />
    </a>
    <img src="./images/logo/logo-cross_black.svg" alt="cross" />
    <a
      class="footer__logos-yandex"
      href="https://travel.yandex.ru/"
      target="_blank"
    >
      <img src="./images/logo/logo-yandex_black.svg" alt="" />
    </a>
  </div>
</footer>
