<footer class="footer">
  <div class="footer__content">
    <a
      class="footer__logos-pearl"
      href="#"
      target="_blank"
      onclick="ym(96512162,'reachGoal','Click_logo_vtb')"
    >
      <img src="./images/logo/logo-pearl_black.svg" alt="vsk" />
    </a>
    <img src="./images/logo/logo-cross_black.svg" alt="cross" />
    <a
      class="footer__logos-yandex"
      href="#"
      target="_blank"
      onclick="ym(96512162,'reachGoal','Click_logo_vtb')"
    >
      <img src="./images/logo/logo-yandex_black.svg" alt="" />
    </a>
  </div>
</footer>
