<header class="header menu">
  <div class="menu__container">
    <div class="header__head">
      <div class="header__logos menu__logos">
        <a class="menu__logos-first" href="#" target="_blank">
          <img src="images/logo/logo-pearl.svg" alt="" />
        </a>
        <div class="menu__logos-cross">
          <img src="images/logo/logo-cross.svg" alt="" />
        </div>
        <a class="menu__logos-second" href="/" target="_blank" onclick="">
          <img src="images/logo/logo-yandex.svg" alt="" />
        </a>
      </div>

      <button
        class="hamburger hamburger--slider header__hamburger"
        type="button"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="header__wrapper">
    <ul class="menu__list">
      <li>
        <a href="#quiz" data-section="quiz">Идеи для зимы</a>
      </li>
      <li>
        <a href="#article" data-section="article">Чек-листы</a>
      </li>
      <li>
        <a href="#about" data-section="about">Тест</a>
      </li>
      <li>
        <a href="#faq" data-section="faq">Продуктовая линейка</a>
      </li>
      <li>
        <a href="#faq" data-section="faq">Начать путешествие</a>
      </li>
    </ul>
    <div>Меню</div>
  </div>
</header>
