<header class="header menu">
  <div class="menu__container">
    <div class="header__head">
      <div class="header__logos menu__logos">
        <a
          class="menu__logos-first"
          href="https://www.myblackpearl.ru/?utm_source=YandexTravel_initiative&utm_medium=Display&utm_campaign=Unilever-BP-YandexTravel-SP-Face-Dec23&utm_term=1_Logo_Socdem_2pd_AW_logofooter&utm_content=LandingHtmlPage"
          target="_blank"
        >
          <img src="images/logo/logo-pearl.svg" alt="" />
        </a>
        <div class="menu__logos-cross">
          <img src="images/logo/logo-cross.svg" alt="" />
        </div>
        <a
          class="menu__logos-second"
          href="https://travel.yandex.ru/"
          target="_blank"
        >
          <img src="images/logo/logo-yandex.svg" alt="" />
        </a>
      </div>

      <button
        class="hamburger hamburger--slider header__hamburger"
        type="button"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="header__wrapper">
    <ul class="menu__list">
      <li>
        <a href="#ideas" data-section="ideas" class="header__list-item"
          >Идеи для зимы</a
        >
      </li>
      <li>
        <a href="#checklist" data-section="checklist" class="header__list-item"
          >Чек-листы</a
        >
      </li>
      <li>
        <a href="#test" data-section="test" class="header__list-item">Тест</a>
      </li>
      <li>
        <a href="#products" data-section="products" class="header__list-item"
          >Продуктовая линейка</a
        >
      </li>
      <li>
        <a href="#journey" data-section="journey" class="header__list-item"
          >Начать путешествие</a
        >
      </li>
    </ul>
    <div>Меню</div>
  </div>
</header>
