<section class="ideas" id="ideas">
  <h2 class="ideas__title">Идеи для зимней радости</h2>
  <div class="ideas__cards">
    <div
      class="ideas__card"
      data-popup-id="mountains"
      data-popup-distributing="true"
    >
      <div class="ideas__number element-animation">
        <h3>01</h3>
      </div>
      <p class="element-animation_text">Зима в горах</p>
      <div class="ideas__arrow"></div>
      <img class="ideas__backgound" src="./images/idea/mountains.jpg" alt="" />
    </div>
    <div class="ideas__card-wrapper">
      <div
        class="ideas__card ideas__card_white"
        data-popup-id="city"
        data-popup-distributing="false"
      >
        <p class="element-animation_text">Зима <br />в городе</p>
        <div class="ideas__number element-animation">
          <h3>02</h3>
        </div>
      </div>
      <div
        class="ideas__card ideas__card_white"
        data-popup-id="childhood"
        data-popup-distributing="false"
      >
        <p class="element-animation_text">Зима <br />из детства</p>
        <div class="ideas__number element-animation">
          <h3>03</h3>
        </div>
      </div>
    </div>
    <div
      class="ideas__card"
      data-popup-id="winter"
      data-popup-distributing="true"
    >
      <div class="ideas__number element-animation">
        <h3>04</h3>
      </div>
      <p class="element-animation_text">Жаркая зима</p>
      <div class="ideas__arrow"></div>
      <img class="ideas__backgound" src="./images/idea/sea.jpg" alt="" />
    </div>
    <div
      class="ideas__card"
      data-popup-id="nature"
      data-popup-distributing="true"
    >
      <div class="ideas__number element-animation">
        <h3>05</h3>
      </div>
      <p class="element-animation_text">Зима на природе</p>
      <div class="ideas__arrow"></div>
      <img class="ideas__backgound" src="./images/idea/forest.jpg" alt="" />
    </div>
  </div>
</section>
