<include src="./ideas/mountains/mountains.html"></include>
<include src="./ideas/winter/winter.html"></include>
<include src="./ideas/nature/nature.html"></include>
<include src="./ideas/city.html"></include>
<include src="./ideas/childhood.html"></include>

<include src="./ideas/nature/dagestan.html"></include>
<include src="./ideas/nature/baikal.html"></include>
<include src="./ideas/nature/karelia.html"></include>

<include src="./ideas/mountains/arkhyz.html"></include>
<include src="./ideas/mountains/elbrus.html"></include>
<include src="./ideas/mountains/roza.html"></include>

<include src="./ideas/winter/bali.html"></include>
<include src="./ideas/winter/vietnam.html"></include>
<include src="./ideas/winter/sri-lanka.html"></include>

<include src="./ideas/checklists/checklists-mountains.html"></include>

<section class="ideas" id="ideas">
  <h2 class="ideas__title">Идеи для зимней радости</h2>
  <div class="ideas__cards">
    <div
      class="ideas__card"
      data-popup-id="mountains"
      data-popup-distributing="true"
    >
      <div class="ideas__number">
        <h3>01</h3>
      </div>
      <p>Зима в горах</p>
      <img class="ideas__arrow" src="images/vector/arrow.svg" alt="arrow" />
      <img class="ideas__backgound" src="./images/idea/mountains.jpg" alt="" />
    </div>
    <div class="ideas__card-wrapper">
      <div
        class="ideas__card ideas__card_white"
        data-popup-id="city"
        data-popup-distributing="false"
      >
        <p>Зима <br />в городе</p>
        <div class="ideas__number">
          <h3>02</h3>
        </div>
      </div>
      <div
        class="ideas__card ideas__card_white"
        data-popup-id="childhood"
        data-popup-distributing="false"
      >
        <p>Зима <br />из детства</p>
        <div class="ideas__number">
          <h3>03</h3>
        </div>
      </div>
    </div>
    <div
      class="ideas__card"
      data-popup-id="winter"
      data-popup-distributing="true"
    >
      <div class="ideas__number">
        <h3>04</h3>
      </div>
      <p>Жаркая зима</p>
      <img class="ideas__arrow" src="images/vector/arrow.svg" alt="arrow" />
      <img class="ideas__backgound" src="./images/idea/sea.jpg" alt="" />
    </div>
    <div
      class="ideas__card"
      data-popup-id="nature"
      data-popup-distributing="true"
    >
      <div class="ideas__number">
        <h3>05</h3>
      </div>
      <p>Зима на природе</p>
      <img class="ideas__arrow" src="images/vector/arrow.svg" alt="arrow" />
      <img class="ideas__backgound" src="./images/idea/forest.jpg" alt="" />
    </div>
  </div>
</section>
