<section class="journey" id="journey">
  <div class="journey__wrapper">
    <h2 class="journey__title">В путь</h2>
    <div class="journey__text-wrapper">
      <p>
        Впечатления совсем рядом: осталось выбрать отель! С кешбэком от Яндекс
        Путешествий, чтобы было ещё приятнее.
      </p>
      <a
        href="https://travel.yandex.ru/hotels/"
        target="_blank"
        class="journey__start-btn"
        >Полететь</a
      >
    </div>
  </div>
  <a
    class="journey__wrapper journey__wrapper_mob"
    href="https://travel.yandex.ru/hotels/"
    target="_blank"
  >
    <div class="journey__text-wrapper">
      <img src="./images/vector/arrow-ideas.svg" alt="" />
      <p>
        Впечатления совсем рядом: осталось выбрать отель! С кешбэком от Яндекс
        Путешествий, чтобы было ещё приятнее.
      </p>
      <h2 class="journey__title">В путь</h2>
    </div>
    <a
      href="https://travel.yandex.ru/hotels/"
      class="journey__start-btn"
      target="_blank"
      >Полететь</a
    >
  </a>
</section>
