<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="scss/main.scss" />

  <title>Как справиться с зимней хандрой?</title>
  <meta
    name="description"
    content="Яндекс Путешествия и Черный Жемчуг собрали идеи, как порадовать себя этой зимой, куда поехать и как нужно заботиться о коже в холоде и тепле."
  />
  <meta property="og:title" content="Как справиться с зимней хандрой?" />
  <meta
    property="og:description"
    content="Яндекс Путешествия и Черный Жемчуг собрали идеи, как порадовать себя этой зимой, куда поехать и как нужно заботиться о коже в холоде и тепле."
  />

  <link
    rel="preload"
    href="fonts/yandex-sans-display-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/yandex-sans-display-regular.woff"
    as="font"
    type="font/woff"
    crossorigin
  />

  <meta property="og:url" content="https://realty.ya.ru/vsk/calculator" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="images/share.jpeg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta
    property="twitter:image"
    content="https://travel.yandex.ru/special/blackpearl/images/share.jpeg"
  />
  <link
    rel="shortcut icon"
    href="images/favicons/favicon.ico"
    type="image/x-icon"
  />

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    ;(function (m, e, t, r, i, k, a) {
      m[i] =
        m[i] ||
        function () {
          ;(m[i].a = m[i].a || []).push(arguments)
        }
      m[i].l = 1 * new Date()
      for (var j = 0; j < document.scripts.length; j++) {
        if (document.scripts[j].src === r) {
          return
        }
      }
      ;(k = e.createElement(t)),
        (a = e.getElementsByTagName(t)[0]),
        (k.async = 1),
        (k.src = r),
        a.parentNode.insertBefore(k, a)
    })(window, document, 'script', 'https://mc.yandex.ru/metrika/tag.js', 'ym')

    ym(95805486, 'init', {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      webvisor: true,
    })
  </script>
  <noscript
    ><div>
      <img
        src="https://mc.yandex.ru/watch/95805486"
        style="position: absolute; left: -9999px"
        alt=""
      /></div
  ></noscript>
  <!-- /Yandex.Metrika counter -->
</head>
