<include src="./popups/mountains/mountains.html"></include>
<include src="./popups/winter/winter.html"></include>
<include src="./popups/nature/nature.html"></include>
<include src="./popups/city.html"></include>
<include src="./popups/childhood.html"></include>

<include src="./popups/nature/dagestan.html"></include>
<include src="./popups/nature/baikal.html"></include>
<include src="./popups/nature/karelia.html"></include>

<include src="./popups/mountains/arkhyz.html"></include>
<include src="./popups/mountains/elbrus.html"></include>
<include src="./popups/mountains/roza.html"></include>

<include src="./popups/winter/bali.html"></include>
<include src="./popups/winter/vietnam.html"></include>
<include src="./popups/winter/sri-lanka.html"></include>

<include src="./popups/checklists/checklist-mountains.html"></include>
<include src="./popups/checklists/checklist-city.html"></include>
<include src="./popups/checklists/checklist-winter.html"></include>
<include src="./popups/checklists/checklist-nature.html"></include>
