<section class="promo">
  <div class="promo__carusel">
    <div class="promo__carusel-wrapper">
      <div class="promo__cards">
        <img src="./images/method1.jpg" alt="method" />
        <img src="./images/method2.jpg" alt="method" />
        <img src="./images/method3.jpg" alt="method" />
        <img src="./images/method4.jpg" alt="method" />
        <img src="./images/method5.jpg" alt="method" />
        <img src="./images/method1.jpg" alt="method" />
        <img src="./images/method2.jpg" alt="method" />
        <img src="./images/method3.jpg" alt="method" />
        <img src="./images/method4.jpg" alt="method" />
        <img src="./images/method5.jpg" alt="method" />
      </div>
    </div>
  </div>
  <div class="promo__text-wrapper">
    <h1 class="promo__title">Как победить зимнюю хандру?</h1>
    <p class="promo__text">
      Мало солнца, много тёплой одежды, слякоть и&nbsp;уставший вид. И&nbsp;так
      всю зиму? Яндекс Путешествия и&nbsp;Черный Жемчуг собрали идеи, как
      защитить себя от&nbsp;зимней грусти, а&nbsp;свою кожу&nbsp;&mdash;
      от&nbsp;сухости и&nbsp;раздражения!
    </p>
  </div>
</section>
