<section class="promo">
  <div class="promo__carusel">
    <div class="promo__carusel-wrapper">
      <div class="promo__cards">
        <img class="promo__gallery" src="./images/gallery.png" alt="gallery" />
        <img
          class="promo__gallery-mob"
          src="./images/gallery-mob.png"
          alt="gallery"
        />
      </div>
    </div>
  </div>
  <div class="promo__text-wrapper">
    <h1 class="promo__title">Как победить зимнюю хандру?</h1>
    <p class="promo__text">
      Мало солнца, много тёплой одежды, слякоть&nbsp;и&nbsp;уставший вид.
      И&nbsp;так всю зиму? Яндекс&nbsp;Путешествия и&nbsp;Черный Жемчуг собрали
      идеи, как защитить себя от&nbsp;зимней грусти, а&nbsp;свою
      кожу&nbsp;&mdash; от&nbsp;сухости и&nbsp;раздражения!
    </p>
  </div>
</section>
