<section id="arkhyz" class="popup popup__ideas">
  <div class="popup__container">
    <button class="popup__close-button"></button>
    <div class="popup__content">
      <h3 class="popup__title">Архыз</h3>
      <div class="popup__images">
        <img src="./images/idea/arh1.jpg" alt="" />
        <img src="./images/idea/arh2.jpg" alt="" />
      </div>
      <div class="popup__text-wrapper">
        <p class="popup__text">
          В&nbsp;Архызе есть горнолыжный курорт, но&nbsp;это далеко не&nbsp;всё.
          Регион неспроста называется Минеральные воды: здесь действительно
          множество источников. Неподалёку есть целый комплекс с&nbsp;горячими
          нарзанами, а&nbsp;в&nbsp;самом городе&nbsp;&mdash; множество
          спа-центров.
        </p>
      </div>
      <div class="popup__img-wrapper">
        <img src="./images/idea/buster.jpg" alt="" />
        <div class="popup__text-wrapper">
          <p class="popup__text">
            Усилить эффект от&nbsp;целебных вод помогут
            <a href="#">сыворотки-бустеры</a> от&nbsp;&laquo;Черного
            Жемчуга&raquo;: они интенсивно увлажняют, восстанавливают кожу
            и&nbsp;дают настоящий заряд полезных веществ.
          </p>
        </div>
      </div>
      <div class="popup__photos">
        <img src="./images/idea/forest-arh.jpg" alt="" />
        <img src="./images/idea/woman-arh.jpg" alt="" />
        <img src="./images/idea/mountains-arh.jpg" alt="" />
      </div>
      <a
        class="popup__button"
        target="_blank"
        href="https://www.ozon.ru/highlight/uhod-za-litsom-chernyy-zhemchug-1124960/?utm_source=YandexTravel_initiative&utm_medium=Display&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_term=1_KartochkiIdejW.14-80_Socdem_2pd_AW_KnopkaPodrobneeChekListGory&utm_content=LandingHtmlPage"
        >Подробнее</a
      >
    </div>
  </div>
</section>
