<section id="elbrus" class="popup popup__ideas">
    <div class="popup__container">
      <button class="popup__close-button"></button>
      <div class="popup__content">
        <h3 class="popup__title">Эльбрус</h3>
        <div class="popup__images">
            <img src="./images/idea/mountains2-elb.jpg" alt="">
            <img src="./images/idea/man-elb.jpg" alt="">
        </div>
        <div class="popup__text-wrapper">
            <p class="popup__text">Действительно высокие горы, много солнца, если повезёт со&nbsp;снегом&nbsp;&mdash; то&nbsp;и&nbsp;бесконечные 
                трассы для лыжников и&nbsp;сноубордистов. Отдохнуть после спусков можно в&nbsp;местной бане с&nbsp;чаном под открытым 
                небом: подходящее место легко выбрать на&nbsp;любой вкус и&nbsp;бюджет.
            </p>
        </div>
        <div class="popup__img-wrapper popup__img-wrapper_desk">
            <img src="./images/idea/mountains-elb.jpg" alt="">
            <div class="popup__text-wrapper">
                <p class="popup__text">Главное помнить, что солнечные лучи здесь не&nbsp;менее активны, чем на&nbsp;летнем пляже. 
                    Отражаясь от&nbsp;белоснежных склонов на&nbsp;такой высоте, они буквально обжигают кожу. Поэтому очень важно 
                    не&nbsp;забывать об&nbsp;уходе за&nbsp;кожей и&nbsp;защите от&nbsp;фотостарения: для этого отлично подойдёт 
                    коллекция <a href="#">SPF EXPERT*</a> от&nbsp;&laquo;Черного Жемчуга&raquo;.
                </p>
            </div>
        </div>
        <div class="popup__img-wrapper popup__img-wrapper_mob">
            <div class="popup__images popup__images_rigth">
                <img src="./images/idea/mountains-elb.jpg" alt="">
                <img src="./images/idea/sky-elb.jpg" alt="">
            </div>
            <div class="popup__text-wrapper">
                <p class="popup__text">Главное помнить, что солнечные лучи здесь не&nbsp;менее активны, чем на&nbsp;летнем пляже. 
                    Отражаясь от&nbsp;белоснежных склонов на&nbsp;такой высоте, они буквально обжигают кожу. Поэтому очень важно 
                    не&nbsp;забывать об&nbsp;уходе за&nbsp;кожей и&nbsp;защите от&nbsp;фотостарения: для этого отлично подойдёт 
                    коллекция <a href="#">SPF EXPERT*</a> от&nbsp;&laquo;Черного Жемчуга&raquo;.
                </p>
            </div>
        </div>
        <div class="popup__photos">
            <img src="./images/idea/woman-elb.jpg" alt="">
            <img src="./images/idea/cream-elb.jpg" alt="">
            <img src="./images/idea/woman2-elb.jpg" alt="">
        </div>
        <a class="popup__button" href="#">Подробнее</a>
        <p class="popup__info">*SPF EXPERT [СПФ ЭКСПЕРТ]</p>
      </div>
    </div>
  </section>
  