<section id="mountains" class="popup popup__ideas popup__ideas_distributing">
  <div class="popup__container">
    <button class="popup__close-button"></button>
    <picture>
      <source
        media="(max-width: 999px)"
        srcset="./images/idea/mountains-mob.jpg"
      />
      <source
        media="(min-width: 1000px)"
        srcset="./images/idea/mountains.jpg"
      />
      <img src="./images/idea/mountains.jpg" alt="">
    </picture>
    <div class="popup__content">
      <div class="popup__text">
        <div class="popup__number">
          <h3>01</h3>
        </div>
        <p>Зима в горах</p>
      </div>
      <div class="popup__navigation">
        <ul class="popup__navigation-items">
          <li
            data-popup-id="arkhyz" 
            data-popup-distributing="false"
            class="popup__navigation-item"
          >
            <button class="popup__place">Архыз</button>
          </li>
          <li
            data-popup-id="roza" 
            data-popup-distributing="false"
            class="popup__navigation-item"
          >
            <button class="popup__place">Роза Хутор</button>
          </li>
          <li
            data-popup-id="elbrus" 
            data-popup-distributing="false"
            class="popup__navigation-item"
          >
            <button class="popup__place">Эльбрус</button>
          </li>
        </ul>
        <div class="popup__navigation-menu">
          <button
            data-popup-id="checklist-mountains" 
            data-popup-distributing="false"
            class="popup__checklist"
          >
            Чек-лист в поездку
          </button>
          <a
            href="https://travel.yandex.ru/promo/mountains-of-impressions/"
            target="_blank"
            class="popup__hotel"
            >Выбрать отель</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
