<section id="roza" class="popup popup__ideas">
  <div class="popup__container">
    <button class="popup__close-button"></button>
    <div class="popup__content">
      <h3 class="popup__title">Роза Хутор</h3>
      <div class="popup__images">
        <img src="./images/idea/mountains-roza.jpg" alt="" />
        <img src="./images/idea/road-roza.jpg" alt="" />
      </div>
      <div class="popup__text-wrapper">
        <p class="popup__text">
          Курорт европейского уровня с&nbsp;идеальными склонами, отличным
          снежным покровом&nbsp;&mdash; и&nbsp;конечно огромным разнообразием
          &laquo;апре-ски&raquo;: развлечений после спусков. Рестораны, ночные
          клубы, открытые бассейны и&nbsp;даже казино. Здесь&nbsp;же расположена
          одна из&nbsp;пяти игорных зон в&nbsp;стране.
        </p>
      </div>
      <div class="popup__text-wrapper">
        <p class="popup__text">
          А&nbsp;для того, чтобы блистать не&nbsp;менее ярко, чем огни Розы
          Хутор, воспользуйтесь программой ухода
          <a href="#">LiftACTIVATOR*</a> от&nbsp;&laquo;Черного Жемчуга&raquo;:
          она питает и&nbsp;увлажняет кожу, сокращая мелкие морщинки
          и&nbsp;очерчивая чёткий контур овала лица.
        </p>
      </div>
      <div class="popup__photos">
        <img src="./images/idea/woman-arh.jpg" alt="" />
        <img src="./images/idea/cream-roza.jpg" alt="" />
        <img src="./images/idea/ski-roza.jpg" alt="" />
      </div>
      <a
        class="popup__button"
        href="https://www.ozon.ru/highlight/uhod-za-litsom-chernyy-zhemchug-1124960/?utm_source=YandexTravel_initiative&utm_medium=Display&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_term=1_KartochkiIdejW.14-80_Socdem_2pd_AW_KnopkaPodrobneeChekListGory&utm_content=LandingHtmlPage"
        target="_blank"
        >Подробнее</a
      >
      <p class="popup__info">*LiftACTIVATOR [ЛифтАКТИВАТОР]</p>
    </div>
  </div>
</section>
