<section id="karelia" class="popup popup__ideas">
  <div class="popup__container">
    <button class="popup__close-button"></button>
    <div class="popup__content">
      <h3 class="popup__title">Карелия</h3>
      <div class="popup__images">
        <img src="./images/idea/snow-ka.jpg" alt="" />
        <img src="./images/method5.jpg" alt="" />
      </div>
      <div class="popup__text-wrapper">
        <p class="popup__text">
          Практически вся Карелия&nbsp;&mdash; это заповедник с&nbsp;уникальной
          природой, озёрами и&nbsp;каньонами. В&nbsp;Карелии стоит испробовать
          снежные склоны горнолыжного курорта Ялгора, насладиться видами горного
          парка Рускеала и&nbsp;спуститься в&nbsp;каньон на&nbsp;экскурсию
          по&nbsp;подземному миру парка.
        </p>
      </div>
      <div class="popup__img-wrapper">
        <img src="./images/idea/sun-ka.jpg" alt="" />
        <div class="popup__text-wrapper">
          <p class="popup__text">
            А&nbsp;если есть силы&nbsp;&mdash; подняться на&nbsp;Хийденвуори,
            самую мистическую гору Карелии. Кстати, зимой здесь нередко
            встречается северное сияние, которое отлично видно благодаря низкой
            засветке неба.
          </p>
        </div>
      </div>
      <div class="popup__photos">
        <img src="./images/idea/ligth-ka.jpg" alt="" />
        <img src="./images/idea/woman-arh.jpg" alt="" />
        <img src="./images/idea/forest-arh.jpg" alt="" />
      </div>
      <a
        class="popup__button"
        href="https://www.ozon.ru/highlight/uhod-za-litsom-chernyy-zhemchug-1124960/?utm_source=YandexTravel_initiative&utm_medium=Display&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_term=1_KartochkiIdej_W.14-80_Socdem_2pd_AW_KnopkaPodrobneeChekListTeplo&utm_content=LandingHtmlPage"
        target="_blank"
        >Подробнее</a
      >
      <p class="popup__info">*PEELING EXPERT [ПИЛИНГ ЭКСПЕРТ]</p>
    </div>
  </div>
</section>
