<section id="childhood" class="popup popup__ideas">
    <div class="popup__container popup__container_violet">
      <button class="popup__close-button popup__close-button_violet"></button>
      <div class="popup__content">
        <div class="popup__main-title">
            <div class="popup__number">
              <h3>03</h3>
            </div>
            <p>Зима из детства</p>
        </div>
        <div class="popup__images popup__images_violet">
            <img src="./images/idea/woman2-ch.jpg" alt="">
            <img src="./images/idea/snowman.jpg" alt="">
        </div>
        <div class="popup__text-wrapper popup__text-wrapper_violet">
            <p class="popup__text popup__text_violet">За&nbsp;впечатлениями совсем не&nbsp;обязательно ехать на&nbsp;другой край 
              земного шара: можно устроить зимний праздник дома. Наливайте в&nbsp;термос чай со&nbsp;специями, закутывайтесь 
              потеплее&nbsp;&mdash; и&nbsp;выходите в&nbsp;ближайший парк. Слепить снеговика, сделать снежного ангела на&nbsp;снегу 
              или сразиться с&nbsp;друзьями в&nbsp;снежки&nbsp;&mdash; выбирать вам.
            </p>
        </div>
        <div class="popup__images popup__images_violet popup__images_rigth">
          <img src="./images/idea/house-ch.jpg" alt="">
          <img src="./images/method5.jpg" alt="">
      </div>
        <div class="popup__text-wrapper popup__text-wrapper_violet">
            <p class="popup__text popup__text_violet">Если хочется экстрима, прихватите ледянку:
              спуск даже с&nbsp;небольшого склона зарядит энергией на&nbsp;весь день. Интенсивно увлажнить кожу после таких 
              приключений поможет <a href="#">сыворотка-бустер с&nbsp;гиалуроном</a> от&nbsp;&laquo;Черного Жемчуга&raquo;. А&nbsp;после прогулки 
              на&nbsp;морозе стоит уделить особое внимание коже лица. Делимся советами в&nbsp;нашем чек-листе.
            </p>
        </div>
        <div class="popup__photos">
            <img src="./images/idea/buster.jpg" alt="">
            <img src="./images/method1.jpg" alt="">
            <img src="./images/idea/woman-ch.jpg" alt="">
        </div>
        <div class="popup__navigation-menu">
            <button
              data-popup-id="checklist-mountains" 
              data-popup-distributing="false"
              class="popup__checklist"
            >
              Чек-лист в поездку
            </button>
            <a
              href="https://travel.yandex.ru/promo/mountains-of-impressions/"
              target="_blank"
              class="popup__hotel"
              >Выбрать отель</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  