<section id="city" class="popup popup__ideas">
    <div class="popup__container popup__container_violet">
      <button class="popup__close-button popup__close-button_violet"></button>
      <div class="popup__content">
        <div class="popup__main-title">
            <div class="popup__number">
              <h3>02</h3>
            </div>
            <p>Зима в городе</p>
        </div>
        <div class="popup__images popup__images_violet">
            <img src="./images/idea/woman2-city.jpg" alt="">
            <img src="./images/idea/city.jpg" alt="">
        </div>
        <div class="popup__text-wrapper popup__text-wrapper_violet">
            <p class="popup__text popup__text_violet">Ощущение праздника зимой буквально разлито по&nbsp;городу! А&nbsp;если добавить
                к&nbsp;разноцветным огням гирлянд поход на&nbsp;каток, тёплое какао с&nbsp;булкой и&nbsp;уютные посиделки с&nbsp;друзьями 
                в&nbsp;кафе&nbsp;&mdash; можно считать, что праздник удался. И&nbsp;повод для этого искать не&nbsp;нужно.
            </p>
        </div>
        <div class="popup__text-wrapper popup__text-wrapper_violet">
            <p class="popup__text popup__text_violet">После морозной прогулки и&nbsp;ветра, зарядившись положительными эмоциями, 
                стоит уделить особое внимание коже&nbsp;&mdash; напитать, увлажнить кожу и&nbsp;сократить морщинки поможет уходовая 
                косметика от&nbsp;&laquo;Черного Жемчуга&raquo;. Подробнее в&nbsp;чек-листе.
            </p>
        </div>
        <div class="popup__photos">
            <img src="./images/idea/woman-city.jpg" alt="">
            <img src="./images/idea/ice2-ba.jpg" alt="">
            <img src="./images/idea/houses-city.jpg" alt="">
        </div>
        <div class="popup__navigation-menu">
            <button
              data-popup-id="checklist-mountains" 
              data-popup-distributing="false"
              class="popup__checklist"
            >
              Чек-лист в поездку
            </button>
            <a
              href="https://travel.yandex.ru/promo/mountains-of-impressions/"
              target="_blank"
              class="popup__hotel"
              >Выбрать отель</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  