<section id="baikal" class="popup popup__ideas">
  <div class="popup__container">
    <button class="popup__close-button"></button>
    <div class="popup__content">
      <h3 class="popup__title">Байкал</h3>
      <div class="popup__images">
        <img src="./images/idea/ice4-ba.jpg" alt="" />
        <img src="./images/idea/ice-ba.jpg" alt="" />
      </div>
      <div class="popup__text-wrapper">
        <p class="popup__text">
          Самое большое пресное озеро на&nbsp;континенте и&nbsp;самое глубокое
          в&nbsp;мире&nbsp;&mdash; тут есть чем заняться в&nbsp;любое время
          года, но&nbsp;зимой Байкал особенно очаровывает. А&nbsp;чтобы
          не&nbsp;замерзнуть в&nbsp;сибирские морозы, предлагаем такой план:
          покататься на&nbsp;коньках и&nbsp;полюбоваться уникальным рисунком
          льда Байкала; съездить к&nbsp;острову Огой, где стоит буддийская
          святыня&nbsp;&mdash; Ступа Просветления; послушать легенды у&nbsp;мыса
          Любви и&nbsp;скал Три Брата.
        </p>
      </div>
      <div class="popup__images popup__images_rigth">
        <img src="./images/idea/woman-ba.jpg" alt="" />
        <img src="./images/idea/ice2-ba.jpg" alt="" />
      </div>
      <div class="popup__text-wrapper">
        <p class="popup__text">
          Восстановить кожу после негативного воздействия ветра и&nbsp;холода,
          а&nbsp;также избавить от&nbsp;сухости, стянутости и&nbsp;шелушения
          помогут <a href="#">сыворотки-бустеры</a> от&nbsp;&laquo;Черного
          Жемчуга&raquo;: интенсивно увлажняют, возвращают коже мягкость,
          стимулируют синтез коллагеновых волокон. Подробнее об&nbsp;уходе
          за&nbsp;лицом рассказываем в&nbsp;чек-листе.
        </p>
      </div>
      <div class="popup__photos">
        <img src="./images/idea/ice3-ba.jpg" alt="" />
        <img src="./images/idea/buster.jpg" alt="" />
        <img src="./images/idea/colors-ba.jpg" alt="" />
      </div>
      <a
        class="popup__button"
        href="https://www.ozon.ru/highlight/uhod-za-litsom-chernyy-zhemchug-1124960/?utm_source=YandexTravel_initiative&utm_medium=Display&utm_campaign=vendor_org_120480_Unilever-BP-YandexTravel-SP-Face-Dec23&utm_term=1_KartochkiIdej_W.14-80_Socdem_2pd_AW_KnopkaPodrobneeChekListTeplo&utm_content=LandingHtmlPage"
        target="_blank"
        >Подробнее</a
      >
    </div>
  </div>
</section>
