<section id="dagestan" class="popup popup__ideas">
    <div class="popup__container">
      <button class="popup__close-button"></button>
      <div class="popup__content">
        <h3 class="popup__title">Дагестан</h3>
        <div class="popup__images">
            <img src="./images/idea/mountains2-dg.jpg" alt="">
            <img src="./images/idea/mountains-dg.jpg" alt="">
        </div>
        <div class="popup__text-wrapper">
            <p class="popup__text">Навскидку&nbsp;&mdash; сразу три идеи, чем заняться в&nbsp;Дагестане. Первая, полюбоваться закатом 
                на&nbsp;бархане Сарыкум&nbsp;&mdash; самом высоком в&nbsp;Евразии. Кстати, именно здесь снимали &laquo;Белое Солнце 
                Пустыни&raquo;. Вторая, посмотреть вниз с&nbsp;дагестанского &laquo;Языка троллей&raquo;&nbsp;&mdash; скального 
                выступа в&nbsp;селении Гоор. И&nbsp;напоследок, Взглянуть на&nbsp;советского гиганта в&nbsp;Каспийском море&nbsp;&mdash; 
                экраноплан Лунь.
            </p>
        </div>
        <div class="popup__text-wrapper">
            <p class="popup__text">А&nbsp;после увиденных красот Дагестана стоить уделить внимание и&nbsp;своей красоте вместе 
                с&nbsp;коллекцией увлажняющих и&nbsp;восстанавливающих кожу <a href="#">сывороток-бустеров</a>
                от&nbsp;&laquo;Черного Жемчуга&raquo;. Советы по&nbsp;уходу за&nbsp;кожей зимой ищите в&nbsp;чек-листе.
            </p>
        </div>
        <div class="popup__photos">
            <img src="./images/method2.jpg" alt="">
            <img src="./images/idea/buster-dg.jpg" alt="">
            <img src="./images/idea/river-dg.jpg" alt="">
        </div>
        <a class="popup__button" href="#">Подробнее</a>
      </div>
    </div>
  </section>
  